<!-- ================== BEGIN PAGE CSS STYLE ================== -->
<link href="../modals/m-s-3-examen/m-s-3-examen.min.css" rel="stylesheet" />
<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="../modals/m-s-3-examen/m-s-3-examen.js"></script>


<div class="modal-content m-s-3-examen">
    <div class="mod-header">
        <div class="header-bg"></div>
        <div class="header-elems">
            <div class="mod-tit">¿En qué consiste el exámen?
            </div>
            <!--  <div class="mod-subtit">TIPS QUE DEBES CONOCER ANTES DE ELEGIR TU ESCUELA</div> -->
            <button type="button" class="mod-close btn-cerrar" data-dismiss="modal">
                <span class="fa fa-close"></span>
            </button>
            <div class="mod-icon">
                <img src="../../views/modals/assets/ico-modal-examen.svg" class="img-fluid"
                    alt="¿En qué consiste el exámen?" />
            </div>
        </div>

    </div>
    <div class="mod-body">
        <div class="bloque">
            <h1>EXaMEN</h1>

            <p>Una vez que hayamos <strong>completado las horas de vuelo necesarias y hayamos aprobado todas las
                    lecciones de vuelo que nuestra Escuela o Aeroclub </strong> nos exija vamos finalmente a tener el
                derecho de <strong> ser examinados por un inspector de ANAC. </strong>
                <br> El intsructor es quien nos tomara las pruebas correspondientes para la obtención de la licencia.
            </p>

        </div>

        <div class="bloque">
            <h1>LAS 3 ETAPAS DEL EXaMEN</h1>
            <div class="t-big-celeste">Etápa teórica</div>
            <p> En esta instancia el inspector de ANAC nos tomara una <strong> evaluación múltiple choice de 100
                    preguntas la cual se <i>aprueba obteniendo un porcentaje mínimo del 60%.</i></strong>
                <br>
                Las <strong> preguntas son de conocimiento general,</strong> y los <strong> archivos que debemos
                    estudiar se encuentran en la página de ANAC </strong> y pueden ser descargados por cualquier
                persona.
                <br> Dentro de estos archivos encontraremos <strong> alrededor de 385 preguntas con sus respectivas
                    respuestas y explicaciones</strong>, estas, son las que en el examen nos pueden llegar a tomar. <br>
                <i>Un consejo es ir estudiándolas mientras el curso avanza, para sacarse todas las dudas que éstas nos
                    generen con un instructor de tu escuela.</i>
            </p>

            <div class="t-big-celeste">Vuelo solo</div>
            <p>
                Una vez <strong> aprobado el examen teórico el inspector nos va a pedir que hagamos un vuelo
                    solo,</strong> por lo general consta de realizar circuitos de transito en el aeródromo que nos
                encontremos.
            </p>

            <div class="t-big-celeste">Exámen práctico</div>
            <p>
                Cuando hayamos terminado las instancias anteriores, nos toca <strong> ser evaluados por el inspector en
                    vuelo, quien hará un vuelo con nosotros y nos pedirá que llevemos a cabo ciertas maniobras de
                    vuelo.</strong>
                <br>
                <i>No hay de qué preocuparse, normalmente practicas todas estas maniobras más de una vez con tu
                    instructor en los días previos al examen. </i>
            </p>

        </div>







    </div>
    <div class="mod-footer">
        <div class="footer-bg"></div>

    </div>
</div>