<!-- ================== BEGIN PAGE CSS STYLE ================== -->
<link href="../modals-landing/maneuver-vuelo-recto/maneuver-vuelo-recto.css" rel="stylesheet" />
<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="../modals-landing/maneuver-vuelo-recto/maneuver-vuelo-recto.js"></script>

<div class="modal-content maneuver-vuelo-recto">
	<div class="mod-header">
		<div class="header-elems">
			<button type="button" class="mod-close btn-cerrar-modal" data-dismiss="modal">
				<span class="fa fa-close"></span>
			</button>
			<button type="button" class="mod-volver">
				<a href="javascript:void(0)" onclick="openExternalModal('modal-indice', event, true)">
					<span class="fa fa-chevron-circle-left"></span>
				</a>
			</button>
		</div>
	</div>

	<div class="mod-body">
		<div class="data-tip">
			<p class="tit-tematica">
				<span>MANEUVER</span>
				<span class="naranja">TIPS</span>
			</p>
			<!-- Nombre de Autor-->
			<p class="autor">By Roberto Sanchez</p>
			<!-- Fecha del Articulo-->
			<p class="fecha">01/02/2020</p>
		</div>

		<div class="dificultad">
			<div class="text-dificultad">GRADO DE DIFICULTAD</div>
			<!-- descomentar este div si la dificultad es basica-->
			<!-- <div class="img-dificultad"><img src="../../views/modals-landing/assets/ico-basica.svg" class="img-fluid"></div> -->
			<!-- descomentar este div si la dificultad es intermedia-->
			<!-- <div class="img-dificultad"><img src="../../views/modals-landing/assets/ico-media.svg" class="img-fluid"></div> -->
			<!-- descomentar este div si la dificultad es alta-->
			<!-- <div class="img-dificultad"><img src="../../views/modals-landing/assets/ico-alta.svg" class="img-fluid"></div> -->

			<div class="img-dificultad">
				<img src="../../views/modals-landing/assets/ico-media.svg" class="img-fluid" />
			</div>
		</div>

		<!-- Bloque es un parrafo con titulo maranja y texto-->

		<div class="bloque">
			<h1>Vuelo recto y nivelado</h1>
			<!-- <h2>Lorem ipsum dolor sit amet consectetur adipiscing elit. Integer finibus tellus </h2> -->

			<p>
				<strong>Durante el vuelo recto y nivelado es posible mantener un rumbo y
					altura constante controlando la posición de la nariz y las alas con
					referencia al horizonte.</strong>
				<br />
				Aunque podemos utilizar los instrumentos de vuelo para tener una
				referencia de si estamos manteniendo el vuelo recto y nivelado, nuestra
				principal referencia debería ser el horizonte al frente y a los lados de
				nuestra aeronave. Mantener nuestra vista enfocada hacia el exterior nos
				ayuda a visualizar y evitar otras aeronaves.
			</p>

			<p>
				<strong>Los ajustes en el compensador nos evitan hacer fuerza hacia adelante
					o atrás en nuestros comandos para mantener una actitud.</strong>
				<br />
				<strong><i>Si el horizonte o cualquier referencia comienza a descender</i>
				</strong>
				quiere decir que el avión está ganando altura, colocar la nariz del
				avión en su posición inicial con respecto al horizonte y luego proceder
				a compensar, nuevamente aflojar la palanca y constatar si el horizonte
				mantiene su posición con respecto a la nariz del avión, si es así el
				avión está compensado, de lo contrario repetir el mismo procedimiento.
				<br />
				<strong><i>Si el horizonte comienza a ascender con respecto a la nariz del
						avión</i></strong>
				quiere decir que le avión está perdiendo altura, nivelar y luego
				compensar, repetir el procedimiento si el avión no ha quedado
				completamente compensado.
			</p>

			<p>
				<strong>
					Ajustaremos el compensador durante el vuelo cuando sea necesario, lo
					mismo aplica para la compensación en el timón de cola, pero con este
					debemos tener referencia del coordinador de virajes para mantener el
					vuelo coordinado.
				</strong>
			</p>

			<p>
				<strong>
					Cuando se presente el vuelo recto y nivelado, el instructor nos
					demostrara la maniobra y luego nos pasara los controles de la
					aeronave.
				</strong>
				<br />
				Para que quede claro quien tiene el control de la aeronave, se
				recomienda que antes del vuelo, se analice cual será el procedimiento a
				realizar para el pase de los controles.
			</p>
		</div>

		<!-- Bloque es un parrafo con titulo maranja y texto-->

		<div class="bloque-img-izq">
			<div class="row justify-content-around align-items-top p-4 back-gris">
				<div class="col-12 col-md-4 img-bloque-izq">
					<img src="../../views/modals-landing/maneuver-vuelo-recto/assets/img-vuelo-recto.png"
						class="img-fluid shadow" />
				</div>
				<div class="col-12 col-md-8 text-bloque-izq">
					<p>
						<strong>Piloto pasando los controles:</strong> “YOU HAVE FLIGHT
						CONTROL”.
					</p>

					<p>
						<strong>Piloto tomando los controles:</strong> “I HAVE FLIGHT
						CONTROL”.
					</p>

					<p>
						<strong>Piloto pasando los controles:</strong> "YOU HAVE FLIGHT
						CONTROL”.
					</p>

					<p>
						El piloto que pasa los controles debe continuar volando hasta el que
						piloto que vaya a tomar los controles dé a conocer que va a
						tomarlos.
					</p>
					<p>
						Se recomienda también controlar visualmente para asegurarnos que el
						otro piloto tiene los comandos.
						<br />
						Habrá ocasiones en el que
						<strong>el instructor tomará el control </strong>y lo correcto sería
						que lo notifique antes de hacerlo diciendo “I HAVE CONTROLS”.
					</p>
				</div>
			</div>
		</div>

		<!-- Bloque con listado con numeros-->
		<div class="bloque">
			<h1>PASOS A SEGUIR:</h1>
			<ol class="mb-4 listado-modal-landing">
				<li>
					<strong>Establecé la aeronave con un rumbo y altitud especifica.</strong>
					Ajusta el estabilizador para mantener un vuelo coordinado y el
					compensador para aliviar la presión en los comandos.
					<ul>
						<li>
							Mantené las alas de la aeronave bien niveladas en el horizonte.
						</li>
						<li>
							Elegí una referencia en tu horizonte y trata de mantenerlo siempre
							en la misma posición, de esa manera nos aseguramos que seguimos en
							vuelo recto y nivelado.
						</li>
					</ul>
				</li>
				<li>
					Breves periodos sin prestar atención a nuestros instrumentos, cambios
					de potencia, turbulencia o ráfagas de viento pueden causar que nos
					alejemos de nuestro rumbo y altitud deseada.
					<strong>Una vez que notamos un mínimo cambio en nuestro punto de
						referencia,</strong>
					determinamos la magnitud de la desviación mirando nuestros
					instrumentos.
				</li>
				<li>
					Durante el vuelo continua realizando los cambios que sean necesarios
					para <strong>mantener el vuelo recto y nivelado,</strong> ya sea en el
					estabilizador, potencia o compensador.
				</li>
			</ol>
		</div>

		<!-- Bloque destacado celeste-->

		<div class="destacado-celeste text-center">
			<div class="titulo-destacado-celeste mb-3">
				UNA AYUDA PARA RECORDAR ESTA INFORMACION
			</div>

			<div class="tabla">
				<p class="p-grande"><strong> PAP </strong></p>
				<div class="wrapper-tabla">
					<div class="columna">
						POWER + <br />
						(2200)
					</div>
					<div class="columna">
						ATTITUDE
						<br />
						(4 fingers)
					</div>
					<div class="columna">
						= PERFORMANCE
						<br />
						(straight and level)
					</div>
				</div>
			</div>
		</div>

		<!-- FICHA AUTOR -->
		<div class="ficha-autor">
			<div class="foto-autor">
				<img src="../../views/modals-landing/maneuver-vuelo-recto/assets/foto-escritor.png" class="img-fluid" />
			</div>
			<div class="datos-autor">
				<p class="nombre-autor">
					ROBERTO SANCHEZ
				</p>
				<p class="escuela-autor">
					ESCUELA VOLAR
				</p>
				<div class="redes-autor">
					<!-- Para quitar una red social hay que borrar el <a> donde esta esa red social-->

					<a href="http://google.com" target="_blank" class="twitter">
						<img src="../../views/modals-landing/assets/ico-twitter.svg" class="img-fluid" />
					</a>
					<a href="http://google.com" target="_blank" class="instagram-autor">
						<img src="../../views/modals-landing/assets/ico-instagram.svg" class="img-fluid" />
					</a>
					<a href="http://google.com" target="_blank" class="web">
						<img src="../../views/modals-landing/assets/ico-web.svg" class="img-fluid" />
					</a>
				</div>
			</div>
		</div>

		<!-- COMO GUARDAR -->

		<div class="desplegable-wrapper desplegable-guardar" id="desplegable-guardar-explicacion">
			<div class="desplegable-header">
				<button type="button" class="btn-cerrar">
					<span class="fa fa-close"></span>
				</button>
			</div>
			<div class="desplegable-cont">
				<h1>¿COMO GUARDAR EL TIP?</h1>
				<h2>Si te gustó este tip PODÉS guardalo desde instagram</h2>
				<p>
					Para poder guardar el tip y volver a mirarlo tantas veces como
					quieras, debes seguirnos en Instagram, si es que todavía no nos
					sigues, y guardar el tip que te gustó. Es muy fácil, aquí te mostramos
					cómo hacerlo.
				</p>
				<div class="desplegable-imagen">
					<img src="../../views/modals-landing/assets/img-guardar.svg" class="img-fluid" />
				</div>
			</div>

			<div class="desplegable-footer">
				<a href="http://google.com" target="_blank" class="btn btn-gral btn-guardar text-truncate">
					<div>IR A LA PUBLICACION</div>
					<img src="../../views/modals-landing/assets/ico-instagram-btn.svg" />
				</a>
			</div>
		</div>

		<!-- BOTONES -->

		<div class="botones-redes-wrapper">
			<!-- BOTON share -->
			<!-- <a href="http://google.com" class="btn btn-redes btn-share btn-gral ">
				<div class="label  text-truncate">SHARE</div>
				<img class="image" src="../../views/modals-landing/assets/ico-share.svg">
			</a> -->

			<a href="javascript:void(0)" id="btn-guardar-explicacion"
				class="btn btn-redes btn-guardar btn-gral btn-desplegable">
				<div class="label text-truncate">GUARDAR</div>
				<img class="image" src="../../views/modals-landing/assets/ico-guardar.svg" />
			</a>

			<!-- BOTON bajar pdf-->
			<!-- <a href="http://google.com" target="_blank" class="btn btn-redes btn-pdf btn-gral">
				<div class="label text-truncate">BAJAR</div>
				<img  class="image"src="../../views/modals-landing/assets/ico-pdf.svg">
			</a> -->
		</div>
	</div>

	<div class="mod-footer">
		<div class="footer-bg"></div>
	</div>
</div>