<!-- ================== BEGIN PAGE CSS STYLE ================== -->
<link href="../modals/m-s-4-examen/m-s-4-examen.min.css" rel="stylesheet" />
<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="../modals/m-s-4-examen/m-s-4-examen.js"></script>


<div class="modal-content m-s-4-examen">
    <div class="mod-header">
        <div class="header-bg"></div>
        <div class="header-elems">
            <div class="mod-tit">¿En qué consiste el exámen?
            </div>
            <!--  <div class="mod-subtit">TIPS QUE DEBES CONOCER ANTES DE ELEGIR TU ESCUELA</div> -->
            <button type="button" class="mod-close btn-cerrar" data-dismiss="modal">
                <span class="fa fa-close"></span>
            </button>
            <div class="mod-icon">
                <img src="../../views/modals/assets/ico-modal-examen.svg" class="img-fluid"
                    alt="¿En qué consiste el exámen?" />
            </div>
        </div>

    </div>
    <div class="mod-body">
        <div class="bloque">
            <h1>EXaMEN</h1>

            <p>Cuando ya hayamos realizado las <strong> horas de vuelo necesarias, y aprobado el curso teórico tendremos
                    el derecho a pedir el examen</strong> para la obtención de la licencia
                <br>Éste examen como el examen de Piloto Privado de Avión consta de varias etapas.

            </p>

        </div>

        <div class="bloque">
            <h1>ETAPAS DEL EXaMEN</h1>
            <div class="t-big-celeste">Etapa teórica</div>
            <p> Esta instancia es igual al examen para rendir la licencia de Piloto Privado, consta de una <strong>
                    evaluación múltiple Choice de 100 preguntas la cual se aprueba obteniendo un porcentaje mínimo del
                    60%.</strong>
                <br>Al igual que las preguntas del PPA, estas las podremos encontrar y descargar en la página de ANAC.

            </p>

            <div class="t-big-celeste">Simulador de vuelo</div>
            <p>
                Luego del examen teórico viene el examen en un simulador de vuelo, en este, <strong>el inspector nos
                    tomara la parte Radioeléctrica que el piloto debe saber y conocer por exigencia de la autoridad
                    aeronáutica </strong> para la obtención de la licencia y de ser aprobado sólo restan los exámenes en
                vuelo.

            </p>

            <div class="t-big-celeste">Exámen práctico</div>
            <p>
                Acá es cuando nos toca ser evaluados por el inspector en vuelo, <strong> los conocimientos generales y
                    maniobras de vuelo </strong> que figuran a continuación son los que el inspector chequeara para la
                aprobación o no de la licencia.
            </p>
            <ul>
                <li>Preparación previa al vuelo; incluyendo determinación de peso y balanceo y carga de combustible</li>
                <li>Procedimiento previo al vuelo</li>
                <li>Operaciones en el aeródromo</li>
                <li>Despegues, aterrizajes y escapes</li>
                <li>Performance de las maniobras</li>
                <li>Maniobras con referencias al terreno</li>
                <li>Navegación</li>
                <li>Pérdidas y vuelo lento</li>
                <li>Operaciones de emergencias</li>
                <li>Procedimientos post vuelo</li>
            </ul>

            <div class="t-big-celeste">Vuelo Nocturno</div>
            <p>Esta instancia consta de <strong>hacer algunos circuitos de tránsito sobre un aeródromo habilitado para
                    volar nocturno junto con un inspector</strong>
            </p>



        </div>

        <div class="destacado-celeste mayusculas text-center">
            Una vez finalizado con éxito el vuelo nocturno y sin más obtendremos nuestra tan esperada <strong>
                <br>Licencia de Piloto comercial con HVI. </strong>
        </div>
    </div>
    <div class="mod-footer">
        <div class="footer-bg"></div>

    </div>
</div>