/*** colores ***/

$color-naranja: #FF970D;
$color-azul-oscuro: #03254B;
$color-blanco: #fff;
$color-ciam: #00FFFF;
$color-celeste-oscuro: #2073DE;


/** placas color **/
$color-placa-1: #2073DE;
$color-placa-2: #1C39AA;
$color-placa-3: #03254B;
$color-placa-4: #2073DE;

$color-footer-1: #03254B;
$color-footer-2: #1C39AA;
