<!-- ================== BEGIN PAGE CSS STYLE ================== -->
<link href="../modals-landing/modal-indice/modal-indice.min.css" rel="stylesheet" />
<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="../modals-landing/modal-indice/modal-indice.js"></script>

<div class="modal-content modal-indice">
  <div class="mod-header">
    <div class="header-elems">
      <button type="button" class="mod-close btn-cerrar-modal" data-dismiss="modal">
        <span class="fa fa-close"></span>
      </button>
    </div>
  </div>

  <div class="mod-body">
    <div class="data-tip">
      <p class="tit-tematica">
        <span>PILOT</span>
        <span class="naranja">TIPS</span>
      </p>
      <p class="subt-tematica">ÍNDICE GENERAL</p>
    </div>

    <!-- Comienzo SECCION INDICE -->
    <!-- MANUEVER TIPS -->
    <div class="wrapper-seccion-indice">
      <!-- Comienzo Titulo Categoria -->
      <div class="wrapper-categoria">
        <div class="imagen-categoria">
          <img src="../modals-landing/modal-indice/assets/ico-manuever.svg" alt="Icono Manuever" class="img-fluid" />
        </div>
        <div class="tit-categoria">
          MANUEVER TIPS
        </div>
      </div>
      <!-- Fin Titulo Categoria -->

      <!-- Comienzo listado -->
      <div class="wrapper-listado-articulos">
        <!-- Comienzo articulo -->
        <div class="articulo">
          <div class="nombre-articulo">
            <!-- Link a otra modal interno -->
            <!-- <a href="javascript:void(0)" onclick="openInternalModal('m-s-1-anac', event, true)">IR A ANAC</a> -->
            <!-- Link a otra modal externo -->
            <a href="javascript:void(0)" onclick="openExternalModal('maneuver-vuelo-recto', event, true)">Vuelo recto y
              nivelado.</a>
          </div>
          <div class="nivel-articulo">
            <div class="texto-nivel">
              DIFICULTAD
            </div>
            <div class="img-nivel">
              <!-- descomentar la img que corresponda, segun el nivel -->
              <!-- <img src="assets/ico-alta-small.svg" class="img-fluid"> -->
              <!-- <img src="assets/ico-media-small.svg" class="img-fluid"> -->
              <img src="../modals-landing/modal-indice/assets/ico-baja-small.svg" class="img-fluid" />
            </div>
          </div>
        </div>

        <!-- comienzo articulo -->
        <div class="articulo">
          <div class="nombre-articulo">
            <!-- Link a otra modal interno -->
            <!-- <a href="javascript:void(0)" onclick="openInternalModal('m-s-1-anac', event, true)">IR A ANAC</a> -->
            <!-- Link a otra modal externo -->
            <a href="javascript:void(0)" onclick="openExternalModal('maneuver-preflight', event, true)">PreFlight Inspection.</a>
          </div>
          <div class="nivel-articulo">
            <div class="texto-nivel">
              DIFICULTAD
            </div>
            <div class="img-nivel">
              <img src="../modals-landing/modal-indice/assets/ico-alta-small.svg" class="img-fluid" />
            </div>
          </div>
        </div>

        <!-- comienzo articulo -->
        <div class="articulo">
          <div class="nombre-articulo">
            Vuelo recto y nivelado. it is a long established fact that a reader
            will be dist final.
          </div>
          <div class="nivel-articulo">
            <div class="texto-nivel">
              DIFICULTAD
            </div>
            <div class="img-nivel">
              <img src="../modals-landing/modal-indice/assets/ico-alta-small.svg" class="img-fluid" />
            </div>
          </div>
        </div>
      </div>
      <!-- end listado -->
    </div>
    <!-- End SECCION INDICE -->

    <!-- Comienzo SECCION INDICE -->
    <!-- GROUND TIPS -->
    <div class="wrapper-seccion-indice">
      <!-- Comienzo Titulo Categoria -->
      <div class="wrapper-categoria">
        <div class="imagen-categoria">
          <img src="../modals-landing/modal-indice/assets/ico-ground.svg" alt="Icono Ground tips" class="img-fluid" />
        </div>
        <div class="tit-categoria">
          GROUND TIPS
        </div>
      </div>
      <!-- Fin Titulo Categoria -->

      <!-- Comienzo listado -->
      <div class="wrapper-listado-articulos">
        <!-- Comienzo articulo -->
        <div class="articulo">
          <div class="nombre-articulo">
            PreFlight Inspection
          </div>
          <div class="nivel-articulo">
            <div class="texto-nivel">
              DIFICULTAD
            </div>
            <div class="img-nivel">
              <!-- descomentar la img que corresponda, segun el nivel -->
              <!-- <img src="assets/ico-alta-small.svg" class="img-fluid"> -->
              <!-- <img src="assets/ico-media-small.svg" class="img-fluid"> -->
              <img src="../modals-landing/modal-indice/assets/ico-baja-small.svg" class="img-fluid" />
            </div>
          </div>
        </div>

        <!-- Comienzo articulo -->
        <div class="articulo">
          <div class="nombre-articulo">
            Despegue y ascenso normales.
          </div>
          <div class="nivel-articulo">
            <div class="texto-nivel">
              DIFICULTAD
            </div>
            <div class="img-nivel">
              <img src="../modals-landing/modal-indice/assets/ico-alta-small.svg" class="img-fluid" />
            </div>
          </div>
        </div>

        <!-- Comienzo articulo -->
        <div class="articulo">
          <div class="nombre-articulo">
            Vuelo recto y nivelado. it is a long established fact that a reader
            will be dist final.
          </div>
          <div class="nivel-articulo">
            <div class="texto-nivel">
              DIFICULTAD
            </div>
            <div class="img-nivel">
              <img src="../modals-landing/modal-indice/assets/ico-alta-small.svg" class="img-fluid" />
            </div>
          </div>
        </div>
      </div>
      <!-- end listado -->
    </div>
    <!-- End SECCION INDICE -->

    <!-- Comienzo SECCION INDICE -->
    <!-- MOTOR TIPS -->
    <div class="wrapper-seccion-indice">
      <!-- Comienzo Titulo Categoria -->
      <div class="wrapper-categoria">
        <div class="imagen-categoria">
          <img src="../modals-landing/modal-indice/assets/ico-motor.svg" alt="Icono Ground tips" class="img-fluid" />
        </div>
        <div class="tit-categoria">
          MOTOR TIPS
        </div>
      </div>
      <!-- Fin Titulo Categoria -->

      <!-- Comienzo listado -->
      <div class="wrapper-listado-articulos">
        <!-- Comienzo articulo -->
        <div class="articulo">
          <div class="nombre-articulo">
            PreFlight Inspection
          </div>
          <div class="nivel-articulo">
            <div class="texto-nivel">
              DIFICULTAD
            </div>
            <div class="img-nivel">
              <!-- descomentar la img que corresponda, segun el nivel -->
              <!-- <img src="assets/ico-alta-small.svg" class="img-fluid"> -->
              <!-- <img src="assets/ico-media-small.svg" class="img-fluid"> -->
              <img src="../modals-landing/modal-indice/assets/ico-baja-small.svg" class="img-fluid" />
            </div>
          </div>
        </div>

        <!-- Comienzo articulo -->
        <div class="articulo">
          <div class="nombre-articulo">
            Despegue y ascenso normales.
          </div>
          <div class="nivel-articulo">
            <div class="texto-nivel">
              DIFICULTAD
            </div>
            <div class="img-nivel">
              <img src="../modals-landing/modal-indice/assets/ico-alta-small.svg" class="img-fluid" />
            </div>
          </div>
        </div>

        <!-- Comienzo articulo -->
        <div class="articulo">
          <div class="nombre-articulo">
            Vuelo recto y nivelado. it is a long established fact that a reader
            will be dist final.
          </div>
          <div class="nivel-articulo">
            <div class="texto-nivel">
              DIFICULTAD
            </div>
            <div class="img-nivel">
              <img src="../modals-landing/modal-indice/assets/ico-alta-small.svg" class="img-fluid" />
            </div>
          </div>
        </div>
      </div>
      <!-- end listado -->
    </div>
    <!-- End SECCION INDICE -->
  </div>
  <!-- End mod-body -->

  <!-- Comienzo mod-footer -->

  <div class="mod-footer">
    <div class="footer-bg"></div>
  </div>
</div>
<!-- end modal externo -->