<!-- ================== BEGIN PAGE CSS STYLE ================== -->
<link href="../modals/m-s-3-requisitos/m-s-3-requisitos.min.css" rel="stylesheet" />
<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="../modals/m-s-3-requisitos/m-s-3-requisitos.js"></script>


<div class="modal-content m-s-3-requisitos">
    <div class="mod-header">
        <div class="header-bg"></div>
        <div class="header-elems">
            <div class="mod-tit">Requisitos para el otorgamiento de la Licencia PPA
            </div>
            <!--  <div class="mod-subtit">TIPS QUE DEBES CONOCER ANTES DE ELEGIR TU ESCUELA</div> -->
            <button type="button" class="mod-close btn-cerrar" data-dismiss="modal">
                <span class="fa fa-close"></span>
            </button>
            <div class="mod-icon">
                <img src="../../views/modals/assets/ico-modal-requisitos.svg" class="img-fluid"
                    alt="Requisitos para el otorgamiento de la Licencia PPA" />
            </div>
        </div>

    </div>
    <div class="mod-body">

        <div class="bloque">
            <h1>Piloto privado de avión (ppa)</h1>
            <p>Para iniciar nuestra carrera en el mundo aeronáutico, como primera instancia, debemos obtener la <strong>
                    Licencia de Piloto Privado de Avión.</strong>
            </p>

        </div>


        <div class="bloque">
            <h1>Requisitos a la hora de iniciar el curso</h1>

            <ul class="mb-4">

                <li>Psicofísico (clase II) </li>
                <li>Ser mayor de 16 años y 9 meses</li>
                <li>Certificado de estudios primarios y/o secundarios. </li>

            </ul>
        </div>

        <div class="bloque destacado-celeste">
            <div class="t-celeste">IMPORTANTE</div>
            <ul class="mb-4">

                <li>Para el otorgamiento de la Licencia se deberá tener por lo menos 17 años de edad</li>
                <li>En caso de ser menor de 18 años, la persona que quiera iniciar el curso debe presentar una fotocopia
                    de autorización de los padres o tutor autorizando el inicio del mismo con las firmas certificadas
                    ante un escribano público.
                </li>

            </ul>
        </div>

        <div class="mod-footer">
            <div class="footer-bg"></div>

        </div>
    </div>
</div>