<!-- ================== BEGIN PAGE CSS STYLE ================== -->
<link href="../modals/m-s-3-atribuciones/m-s-3-atribuciones.min.css" rel="stylesheet" />
<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="../modals/m-s-3-atribuciones/m-s-3-atribuciones.js"></script>


<div class="modal-content m-s-3-atribuciones">
    <div class="mod-header">
        <div class="header-bg"></div>
        <div class="header-elems">
            <div class="mod-tit">Atribuciones y limitaciones de la licencia
            </div>
            <!--  <div class="mod-subtit">TIPS QUE DEBES CONOCER ANTES DE ELEGIR TU ESCUELA</div> -->
            <button type="button" class="mod-close btn-cerrar" data-dismiss="modal">
                <span class="fa fa-close"></span>
            </button>
            <div class="mod-icon">
                <img src="../../views/modals/assets/ico-modal-atribuciones.svg" class="img-fluid"
                    alt="Atribuciones y limitaciones de la licencia" />
            </div>
        </div>

    </div>
    <div class="mod-body">
        <div class="bloque">
            <h1>Listado de atribuciones y limitaciones</h1>
            <ul class="mb-4">
                <li>La Licencia de PPA sólo permite volar <strong>aviones monomotores de hasta 5700 kg. de peso máximo
                        de despegue"</strong></li>
                <li><strong>No está permitido transportar mercancías o pasajeros a cambio de una remuneración.</strong>
                </li>
                <li><strong>No se podrá volar con pasajeros hasta no poseer 25 hs. de vuelo como piloto al mando
                    </strong> una vez obtenida la licencia (esto se debe dejar constatado en el libro de vuelo por un
                    instructor competente).

                </li>
                <li><strong>En caso de estar 30 días sin realizar actividad de vuelo se deberá ser readaptado por un
                        instructor </strong> cumpliendo un mínimo de una hora de vuelo y cinco aterrizajes.
                </li>
                <li>Se podrán <strong> obtener diferentes habilitaciones </strong> vez obtenida la licencia, estas
                    pueden ser <strong> por ejemplo una habilitación de vuelo nocturno o una habilitación de vuelo por
                        instrumentos </strong> (para más información de habilitaciones buscar en las RAAC).
                    </strong>
                </li>
                <li><strong>Para el lanzamiento de paracaidistas, el piloto debe completar 75 hs. de vuelo como piloto
                        al mando y realizar 10 lanzamientos de paracaidistas </strong> con un instructor de vuelo
                    lanzador de paracaidistas. </li>
            </ul>
        </div>
    </div>
    <div class="mod-footer">
        <div class="footer-bg"></div>

    </div>
</div>