<!-- ================== BEGIN PAGE CSS STYLE ================== -->
<link href="../modals/m-s-3-abonar/m-s-3-abonar.min.css" rel="stylesheet" />
<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="../modals/m-s-3-abonar/m-s-3-abonar.js"></script>


<div class="modal-content m-s-3-abonar">
    <div class="mod-header">
        <div class="header-bg"></div>
        <div class="header-elems">
            <div class="mod-tit">¿Cómo se abona el exámen?
            </div>
            <!--  <div class="mod-subtit">TIPS QUE DEBES CONOCER ANTES DE ELEGIR TU ESCUELA</div> -->
            <button type="button" class="mod-close btn-cerrar" data-dismiss="modal">
                <span class="fa fa-close"></span>
            </button>
            <div class="mod-icon">
                <img src="../../views/modals/assets/ico-modal-abonar.svg" class="img-fluid"
                    alt="como se abona el examen" />
            </div>
        </div>

    </div>
    <div class="mod-body">


        <div class="bloque">
            <h1>Pasos a seguir para abonar el exámen</h1>

            <span>El pago del exámen se hace <strong> desde tu CAD </strong> la siguiente manera: </span>
            <ul class="mb-4">

                <li>Ir a <strong> Aplicaciones</strong></li>
                <li><strong>E Pagos</strong></li>
                <li><strong>Dirección de licencias al personal (DLP) </strong></li>
                <li>Seleccionar <strong>boleta de pago del examen de PPA</strong></li>
                <li><strong>Confirmamos y Descargamos la boleta </strong> para poder pagarla </li>
                <li>Se puede <strong>pagar </strong> en cualquier <strong>Pago Fácil o RapiPago.</strong> </li>
            </ul>

            <div class="t-big-celeste">PAGO DE VIATICOS AL INSTRUCTOR</div>
            <p class="destacado-celeste">
                <strong>Puedes conocer los aranceles e ítems, haciendo <a
                        href="http://www.anac.gob.ar/anac/web/uploads/institucional/tasas-arancelarias/aranceles-2018.pdf"
                        target="_blank">CLICK AQUI</a></strong>
            </p>

        </div>

    </div>
    <div class="mod-footer">
        <div class="footer-bg"></div>

    </div>
</div>