<!-- ================== BEGIN PAGE CSS STYLE ================== -->
<link href="../modals/m-s-2-cad/m-s-2-cad.min.css" rel="stylesheet" />
<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="../modals/m-s-2-cad/m-s-2-cad.js"></script>


<div class="modal-content m-s-2-cad">
    <div class="mod-header">
        <div class="header-bg"></div>
        <div class="header-elems">
            <div class="mod-tit">Casillero Aeronáutico Digital (CAD)
            </div>
            <!--  <div class="mod-subtit">TIPS QUE DEBES CONOCER ANTES DE ELEGIR TU ESCUELA</div> -->
            <button type="button" class="mod-close btn-cerrar" data-dismiss="modal">
                <span class="fa fa-close"></span>
            </button>
            <div class="mod-icon">
                <img src="../../views/modals/assets/ico-modal-section-2-3.svg" class="img-fluid"
                    alt="que debo tener en cuenta" />
            </div>
        </div><!-- end header-elemes-->
    </div><!-- end mod-header-->

    <div class="mod-body">
        <div class="bloque">
            <h1>¿Qué es el CAD?</h1>
            <p>El CAD como lo dice la ANAC: <strong> “es un punto de contacto entre la comunidad aeronáutica y la
                    Administración Nacional de Aviación Civil” </strong>y sirve básicamente para realizar todos tus
                <strong>trámites ante la ANAC de forma virtual,</strong>
                en ella se pueden:
            </p>
            <ul class="mb-4">
                <li>Tramitar licencias</strong> </li>
                <li>Realizar el seguimiento de tus trámites</li>
                <li>Solicitar certificaciones</li>
                <li>Registrar tu aeronave</li>
                <li>Realizar reclamos</li>
            </ul>
            <p>A todo futuro Piloto que recién comienza su carrera aeronáutica le es <strong>difícil registrarse, así
                    que vamos a intentar explicarlo lo más fácil posible.</strong>
                posible.
            </p>
        </div>

        <div class="bloque">
            <h1> Como acceder al casillero aeronáutico digital</h1>

            <ul class="mb-4">
                <li>Debes ingresar a <a href="https://cad.anac.gov.ar/" target="_blank">www.cad.anac.gov.ar</a></li>
                <li>Dentro del CAD vamos a <strong> “registrarse ahora”, </strong>el cual te direcciona hacia un
                    formulario de auto registro </li>
                <li>Completar tus datos personales en el formulario </li>
                <li>Cuando ya hayamos <strong> completado todos los datos </strong> debemos <strong> ingresar a nuestro
                        correo electrónico y validar el trámite desde el link </strong> que nos aparecerá en el Email
                    enviado por ANAC. </li>
                <li>Se deberá una vez hecho todos los pasos anteriores <strong> validar el usuario a través de AFIP.
                    </strong> </li>
                <li>Por último la ANAC debe verificar todos los datos ingresados y <strong> una vez validados recibirás
                        un email con tu usuario y contraseña para comenzar a utilizar el casillero aeronáutico.
                    </strong></li>
            </ul>
        </div>


        <div class="bloque">
            <h1>TUTORIAL PARA EXTRANJEROS sin CUIT</h1>
            <!-- <div class="bck-video"> -->
            <video class="video-players" src="../../videos/ext-sin-cuit.mp4"
                poster="../modals/m-s-2-cad/assets/video-arg-cuit.jpg" controls></video>

        </div>


        <div class="bloque">
            <h1>TUTORIAL PARA ARGENTINOS CON CUIT</h1>

            <video class="video-players" src="../../videos/arg-con-cuit.mp4"
                poster="../modals/m-s-2-cad/assets/video-arg-cuit.jpg" controls></video>

        </div>


        <div class="bloque">
            <h1>Horarios de atención</h1>
            <div class="t-celeste">MESA DE AYUDA EN EL CASILLERO AERONÁUTICO DIGITAL</div>
            <p> Está a disposición de <strong> Lunes a viernes de 08:00hs – 12:30hs y de 14:00hs - 16:00hs</strong>
            </p>
            <div class="t-celeste">MAIL DEL ANAC</div>
            <p>
                Podés enviar un mail a

                <strong> <a href="mailto:mas@anac.gov.ar">mas@anac.gov.ar</a></strong>
            </p>
            <div class="t-celeste">PLATAFORMA DE LA ANAC</div>
            <p>
                Ingresando a la página podrás encontar una <strong>línea telefónica gratuita 0800.</strong>
            </p>
        </div>



    </div> <!-- end mod-body -->

    <div class="mod-footer">
        <div class="footer-bg"></div>
    </div><!-- end mod-footer -->

</div><!-- end mod-content -->