<!-- ================== BEGIN PAGE CSS STYLE ================== -->
<link href="../modals/m-s-4-experiencia/m-s-4-experiencia.min.css" rel="stylesheet" />
<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="../modals/m-s-4-experiencia/m-s-4-experiencia.js"></script>


<div class="modal-content m-s-4-experiencia">
    <div class="mod-header">
        <div class="header-bg"></div>
        <div class="header-elems">
            <div class="mod-tit">Experiencia de Vuelo para obtener la licencia
            </div>
            <!--  <div class="mod-subtit">TIPS QUE DEBES CONOCER ANTES DE ELEGIR TU ESCUELA</div> -->
            <button type="button" class="mod-close btn-cerrar" data-dismiss="modal">
                <span class="fa fa-close"></span>
            </button>
            <div class="mod-icon">
                <img src="../../views/modals/assets/ico-modal-experiencia.svg" class="img-fluid"
                    alt="Experiencia de Vuelo para obtener la licencia" />
            </div>
        </div>

    </div>
    <div class="mod-body">
        <div class="bloque">
            <h1>Experiencia de vuelo</h1>

            <p>El curso de piloto comercial consta de un <strong> mínimo de 200 hs. de vuelo </strong> como piloto
                privado de avión, las cuales deben ser:
            </p>

            <ul class="mb-4">

                <li><strong>150 hs. como piloto al mando,</strong> dentro de estas 150 hs. debe haber un <strong> mínimo
                        de 80 hs.de travesía </strong> </li>
                <li><strong>10hs vuelo capota ó 05hs de vuelo capota y 05hs de simulador</strong></li>
                <li><strong>10 hs de vuelo nocturno </strong> (como vuelo en instrucción)</li>
                <li><strong>Las horas restantes pueden ser como Vuelo Local y/o travesía, en entrenamiento o en
                        instrucción</strong></li>
            </ul>
        </div>

        <div class="bloque">
            <h1>Recomendaciones al momento de volar las 200 hs</h1>

            <ul>

                <li><strong>Volar las horas en instrucción </strong>después de tener un mínimo de 120 hs voladas para
                    poder practicar y sacarte todas tus dudas junto con el instructor ya que estas próximo a rendir tu
                    exámen.</li>
                <li><strong>Volar todas las horas restantes como “Piloto al Mando”,</strong> las horas de piloto al
                    mando son necesarias para próximas licencias, como, por ejemplo, de Instructor de vuelo o Comercial
                    de Primera.</li>
                <li><strong>Adaptarte a más de una aeronave. </strong>De esta manera vas a poder adquirir experiencias
                    diferentes y volar todo tipo de aviones. </li>
                <li>En caso de estar 30 o más días sin volar, el piloto debe readaptarse al vuelo junto con un
                    instructor, una <strong>recomendación es intentar volar al menos </strong>una vez dentro de ese
                    lapso de días para que eso no ocurra. </li>
                <li>Hacer travesías controladas para <strong>practicar comunicaciones radioeléctricas y conocer
                        diferentes tipos de aeropuertos/aeródromos</strong></li>
                <li><strong>Acompañar a las horas de vuelo con horas en simulador. </strong>Las horas en simulador son
                    muy importantes para mantener a un piloto adaptado y entrenar todo tipo de circunstancias que quizás
                    en vuelo real no pueden realizarse.
                </li>
                <li><strong>Preparar cada vuelo de forma profesional,</strong> tanto ante, durante y después del mismo.
                </li>
                <li><strong>Realizar prácticas de vuelo solo. </strong>Esto sirve para mejorar la confianza y la toma de
                    decisiones. </li>
            </ul>

        </div>
    </div>
    <div class="mod-footer">
        <div class="footer-bg"></div>

    </div>
</div>