<!-- ================== BEGIN PAGE CSS STYLE ================== -->
<link href="../modals/m-s-1-tener-cuenta/m-s-1-tener-cuenta.min.css" rel="stylesheet" />
<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="../modals/m-s-1-tener-cuenta/m-s-1-tener-cuenta.js"></script>


<div class="modal-content m-s-1-tener-cuenta">
    <div class="mod-header">
        <div class="header-bg"></div>
        <div class="header-elems">
            <div class="mod-tit">¿Que debo tener en cuenta antes de elegir una escuela?
            </div>
            <!--  <div class="mod-subtit">TIPS QUE DEBES CONOCER ANTES DE ELEGIR TU ESCUELA</div> -->
            <button type="button" class="mod-close btn-cerrar" data-dismiss="modal">
                <span class="fa fa-close"></span>
            </button>
            <div class="mod-icon">
                <img src="../../views/modals/assets/ico-modal-section-1-1.svg" class="img-fluid"
                    alt="que debo tener en cuenta" />
            </div>
        </div>

    </div>
    <div class="mod-body">
        <div class="bloque">
            <h1>¿Qué necesito conocer?</h1>

            <p>Empezando por las cosas básicas, como: dónde y qué tan lejos queda la escuela, el precio de la hora o el
                estado de los aviones. <br> Hay otras preguntas que debemos hacernos al momento de elegir una escuela.
            </p>
            </p>
        </div>

        <div class="bloque">
            <h1>Aeropuerto vs. Aeroclub</h1>
            <p>Si lo que buscamos es una <strong>experiencia más profesional a nivel infraestructura, organización y
                    tráfico,</strong> claramente nuestra opción es el <strong>AEROPUERTO.</strong>
                <br>

            </p>
            <span> Vamos a tener la posibilidad de:</span>
            <ul class="mb-4">

                <li>Presentar un<strong> plan de vuelo</strong></li>
                <li><strong>Comunicar con el control </strong></li>
                <li>Utilizar <strong>pistas de más de 2000m</strong> </li>
                <li>Despegar y Aterrizar realizando <strong> procedimientos estandarizados y controlados. </strong></li>
                <li><strong>Todo esto junto a otras aeronaves.</strong></li>
            </ul>

            <div class="t-big-celeste"> Como todo en la vida tiene su costo.</div>
            <p><strong>Todos estas emocionantes cosas que nombramos en la lista anterior llevan tiempo, y por lo tanto
                    sale plata.</strong><br>
                Depende el horario en algunos aeropuertos puede haber más de 10 aeronaves esperando para despegar, rodar
                o aterrizar al mismo tiempo mientras estamos sentados al calor del verano en el avión, esperando para
                salir.<br>
                <strong>Si vamos a ir a un aeropuerto y podemos perder 20 a 30 minutos entre la puesta en marcha del
                    avión, el Rodaje y la salida,
                </strong>
                <br>
            </p>


            <p class="destacado-celeste">
                <strong>¿Cuánto vamos a volar entonces? </strong><br>
                Hay escuelas con turnos de <strong>1 </strong> hora , otras <strong>1:30 </strong>hs. Y otras de
                <strong>2hs.</strong><br>
                <strong>Este es un dato a tener en cuenta al elegir una escuela y no pagar solamente por prender el
                    avión, darle una vuelta manzana y volver a dejarlo en el garage.</strong>
            </p>
            <p>Si lo que buscamos en cambio es <strong>tranquilidad, un ambiente profesional, apasionado y con alma de
                    club social.</strong>
                <br>
                Les presentamos los <strong>AEROCLUBES,</strong> muchos de ellos tienen escuelas, algunas son más
                pequeñas y otras bastante más importantes.
            </p>

            <span>En los aeroclubes:</span>
            <ul>

                <li><strong>No </strong>se presenta un<strong> plan de vuelo</strong></li>
                <li>Por lo general <strong>no son controlados, es decir, no tienen torre de control.</strong></li>
            </ul>

            <p class="mb-4"> <strong> Por lo tanto los tiempos se agilizan y podemos rodar, despegar y aterrizar más
                    rápido. De esta forma aprovechamos más el tiempo de clase.</strong>
            </p>

            <div class="t-big-celeste"> Pero como antes dijimos, todo tiene su costo.</div>
            <p class="destacado-celeste">Los aeroclubes suelen estar <strong>más alejados y no son tan accesibles sin
                    automóvil.</strong>
                <br>
                <strong>Al no ser controlados deberemos volar a otros aeropuertos para practicar comunicaciones y
                    procedimientos en espacio aéreo controlado.
                </strong>
            </p>

            <p>
                Igualmente también podemos volar la licencia de piloto privado en un aeroclub y la de comercial en un
                aeropuerto, por ejemplo.
                <br>
                No es necesario volar siempre en el mismo lugar.

            </p>




        </div>




        <div class="bloque">
            <h1>¿Como se reservan los Turnos en la escuela?</h1>
            <p> Hay <strong>dos puntos importantes </strong>a tener en cuenta en esta pregunta.
            </p>
            <div class="t-celeste">RESERVA DEL TURNO:</div>
            <p>En algunas escuelas los turnos se reservan mediante un sistema en una <strong>página de
                    internet.</strong> En otras, hay que <strong>llamar y hablar con programación.</strong>
            </p>

            <div class="t-celeste"> ¿PUEDO YO ELEGIR AL INSTRUCTOR? </div>

            <p><strong>En algunas escuelas se puede,</strong> y de esta forma se logra una <strong>continuidad con uno o
                    dos instructores que van siguiendo nuestro avance.</strong>

                <br>
                <strong>En otras escuelas, ellos programan al instructor </strong> el alumno y puede variar de vez en
                vez,y cada escuela tiene su método para dejar registrado el avance al próximo instructor ( y si no le
                contas vos, qué fue lo último que hiciste).
            </p>


            <!-- <div class="bloque c-borde">
            " Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong> Integer finibus tellus facilisis placerat </strong> apibus ipsum, non ullamcorper ipsum lacus ut arcu. Aenean ornare vel nisi a porttitor."
        </div> -->



        </div>



    </div>
    <div class="mod-footer">
        <div class="footer-bg"></div>
    </div>
</div>