<!-- ================== BEGIN PAGE CSS STYLE ================== -->
<link href="../modals/m-s-3-conocimientos/m-s-3-conocimientos.min.css" rel="stylesheet" />
<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="../modals/m-s-3-conocimientos/m-s-3-conocimientos.js"></script>


<div class="modal-content m-s-3-conocimientos">
    <div class="mod-header">
        <div class="header-bg"></div>
        <div class="header-elems">
            <div class="mod-tit">Conocimientos Teóricos Aeronáuticos para Licencia de PPA
            </div>
            <!--  <div class="mod-subtit">TIPS QUE DEBES CONOCER ANTES DE ELEGIR TU ESCUELA</div> -->
            <button type="button" class="mod-close btn-cerrar" data-dismiss="modal">
                <span class="fa fa-close"></span>
            </button>
            <div class="mod-icon">
                <img src="../../views/modals/assets/ico-modal-conocimientos.svg" class="img-fluid"
                    alt="Conocimientos Teóricos Aeronáuticos para Licencia de PPA" />
            </div>
        </div>

    </div>
    <div class="mod-body">
        <div class="bloque">
            <h1>¿CUÁLES SON LOS CONOCIMINETOS QUE DEBO ADQUIRIR?</h1>

            <p class="t-celeste"><strong>Todo alumno debe adquirir a lo largo del curso los teóricos que la ANAC exige
                    saber para la obtención de la Licencia.</strong>
            </p>

            <p>Si bien <strong> no hay cursos obligatorios </strong> el transcurso de esta habilitación,
                <strong>dependerá de cada escuela darle al alumno la mejor instrucción posible.</strong>
                <br>
                Por eso, es muy importante estar cómodos y a gusto con el programa de estudio, tanto de forma práctica
                como teórica de la escuela de vuelo que hayamos elegido.
            </p>

            <p>
                Estos conocimientos teóricos son muchos y muy variados, van desde <strong> meteorología general y
                    navegación aérea hasta aerodinámica básica o legislación aeronáutica. </strong>
            </p>

        </div>

        <div class="bloque destacado-celeste">
            <div class="t-celeste">RECOMENDACIÓN</div>
            Una buena práctica es ir estudiando de a poco, a un ritmo cómodo y sacarse todas las dudas que surjan con el
            instructor de confianza.
        </div>
    </div>
    <div class="mod-footer">
        <div class="footer-bg"></div>

    </div>
</div>