<!-- ================== BEGIN PAGE CSS STYLE ================== -->
<link href="../modals/m-s-1-anac/m-s-1-anac.min.css" rel="stylesheet" />
<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="../modals/m-s-1-anac/m-s-1-anac.js"></script>

<div class="modal-content m-s-1-anac">
  <div class="mod-header">
    <div class="header-bg"></div>
    <div class="header-elems">
      <div class="mod-tit">
        ANAC - Administración Nacional de Aviación Civil
      </div>
      <!--  <div class="mod-subtit">TIPS QUE DEBES CONOCER ANTES DE ELEGIR TU ESCUELA</div> -->
      <button type="button" class="mod-close btn-cerrar" data-dismiss="modal">
        <span class="fa fa-close"></span>
      </button>
      <div class="mod-icon">
        <img src="../../views/modals/assets/ico-modal-s-1-anac.svg" class="img-fluid" alt="que debo tener en cuenta" />
      </div>
    </div>
  </div>
  <div class="mod-body">
    <div class="bloque">
      <h1>¿Qué es la Anac?</h1>
      <p>
        La ANAC o Administración Nacional de Aviación Civil es el nombre que se
        le da a la Autoridad de Aviación Civil en Argentina.
      </p>
    </div>

    <div class="bloque">
      <h1>¿De qué se encarga la ANAC?</h1>
      <p>
        <strong>
          Se encarga de regular, fiscalizar y controlar todas las actividades de
          la aviación civil; </strong>es decir, tanto vuelos comerciales como vuelos privados, velando por la
        correcta aplicación de los convenios internacionales, las leyes y
        reglamentos aeronáuticos, resguardando los principios de seguridad
        operacional.
      </p>
      <p>
        <strong>
          Tienen autoridad sobre todo el espacio aéreo argentino, controlado y
          no controlado, como así también aeropuertos y aeroclubes.</strong>
      </p>
    </div>

    <div class="bloque">
      <h1>¿Por qué tengo que saber sobre la ANAC?</h1>
      <p>
        Al menos que te unas al ejército y vueles como piloto, normalmente todos
        tus vuelos van a ser vuelos civiles.
        <br />
        Por lo tanto
        <strong>
          vas a estar bajo la órbita de la ANAC si es que vuelas en Argentina,
        </strong>
        la FAA si vuelas en USA, EASA si vuelas en Europa, o la respectiva
        Autoridad de Aviación Civil en cualquier otro país.
      </p>
      <p>
        Es importante conocer sobre la ANAC porque es esta
        <strong>
          entidad encargada de emitir tus licencias de piloto, el MADHEL (manual
          de aerodromo y helipuertos) o Foliar tu libro de vuelo.
        </strong>
        <br />
        Estos son solo algunos ejemplos, ya que aprenderás todo lo relacionado
        con ANAC durante tu carrera de piloto.
      </p>

      <p class="destacado-celeste">
        <strong>
          Si queres saber mas sobre ANAC podes visitar su pagina web, haciendo
          <a href="https://www.anac.gov.ar/" target="_blank">CLICK AQUI</a></strong>
      </p>
    </div>
  </div>
  <div class="mod-footer">
    <div class="footer-bg"></div>
  </div>
</div>