<!-- ================== BEGIN PAGE CSS STYLE ================== -->
<link href="../modals/m-s-2-afip/m-s-2-afip.min.css" rel="stylesheet" />
<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="../modals/m-s-2-afip/m-s-2-afip.js"></script>

<div class="modal-content m-s-2-afip">
    <div class="mod-header">
        <div class="header-bg"></div>
        <div class="header-elems">
            <div class="mod-tit">GENERAR CLAVE FISCAL</div>
            <!--  <div class="mod-subtit">TIPS QUE DEBES CONOCER ANTES DE ELEGIR TU ESCUELA</div> -->
            <button type="button" class="mod-close btn-cerrar" data-dismiss="modal">
                <span class="fa fa-close"></span>
            </button>
            <div class="mod-icon">
                <img src="../../views/modals/assets/ico-modal-section-2-2.svg" class="img-fluid"
                    alt="que debo tener en cuenta" />
            </div>
        </div>
    </div>
    <div class="mod-body">
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
            <strong>SI SOS EXTRANJERO SIN CUIT/CUIL SALTEATE ESTE PASO
                <a href="#" onclick="openInternalModal('m-s-2-cma', event, true)">
                    HAZ CLICK AQUÍ</a></strong>

            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="bloque">
            <h1>Clave Fiscal 3 desde Celular con la App Mi AFIP</h1>

            <p>
                La AFIP permite, obtener la <strong> Clave Fiscal 3 </strong>con la
                <strong> APP “Mi AFIP” </strong>utilizando el celular y
                <strong>
                    sin necesidad de dirigirse a una delegación/dependencia.
                </strong>
            </p>
        </div>
        <div class="bloque">
            <h1>Requisitos para realizar el trámite on line</h1>

            <ul>
                <li>Ser <strong>mayor de 18 años</strong></li>
                <li>Tener el <strong>DNI Tarjeta</strong></li>
                <li>
                    Tener un <strong> Smartphone que tenga cámara frontal </strong>para
                    sacar una foto frontal
                </li>
            </ul>
        </div>
        <div class="bloque">
            <h1>¿Dónde puedo descargar la app?</h1>
            <p>
                Podés descargar la app MI AFIP para
                <strong> Android en Play Store,</strong> o para
                <strong> iOS en App Store</strong>
                <i>
                    (Ten en cuenta que tu tienda tiene que estar configurada en Argentina
                    para poder descargarla).</i>
            </p>
        </div>

        <div class="bloque">
            <h1>Cómo sacar la Clave Fiscal 3 con la app Mi AFIP</h1>
            <ul>
                <li>Abrí la app Mi AFIP en tu celular</li>
                <li>Entrá al menú <strong>Herramientas</strong></li>
                <li>Entrá a <strong>Solicitud o recupero de clave fiscal</strong></li>
                <li>
                    Cuando la app lo pida, usá la cámara de atrás de tu celular para
                    escanear el código de barras y QR que está al frente (abajo a la
                    derecha) de tu DNI Tarjeta. <br />Para escanear el código, simplemente
                    hay que mantener la cámara apuntando al DNI hasta que la app avisa que
                    ya está.
                </li>
                <li>
                    Luego la app te va a pedir sacarte una foto de tu cara. <br />Para
                    esto, usá la cámara frontal de tu teléfono celular.
                </li>
                <li>
                    La app verifica mediante un sistema de reconocimiento facial que tu
                    cara sea la misma que existe en la base de datos del RENAPER. Y si
                    todo está bien, automáticamente habilita tu Clave Fiscal nivel 3.
                </li>
            </ul>
        </div>

        <div class="destacado-celeste">
            <p>
                <strong> Error de Captcha en app Mi AFIP y error al tomar foto</strong>
            </p>
            <p>
                Algo a tener en cuenta, es que por el momento, la app tiene algunos
                problemas respecto a la estabilidad de la cámara al momento de tomar la
                foto o de leer el código QR del DNI.
            </p>
            <p>
                Surgen de este problema <strong>dos errores:</strong> <br />1-Al
                <strong>escanear el DNI el error es indicado como “Error de CAPTCHA”.
                </strong>
                Esto se debe a que la cámara (celular) no estaba lo suficientemente
                estable al momento de leer el DNI.
            </p>
            <br />2-El otro error es al momento de
            <strong>tomarse una selfie,</strong> esto generalmente no es indicado como
            un error pero hace que la app vuelva al inicio y que haya que repetir
            todos los pasos. <br />El error también está generado por movimientos del
            celular (o de la persona) al tomar la foto.
            <p><strong>¿Cómo evitarlos?</strong></p>
            <p>
                1-<strong>Usar un trípode </strong>para celulares o cualquier otro
                método que permita fijar el celular.
                <br />
                2-La otra recomendación, en caso de no tener trípode, es
                <strong>hacer la selfie con la ayuda de otra persona.</strong>
            </p>
        </div>

        <div class="bloque">
            <h1>¿qué puedo hacer si no tengo Smartphone</h1>
            <p>
                Alternativamente, en caso de que no cuentes con un smartphone podes
                solicitar tu clave fiscal nivel 3 en persona en AFIP. <br />En el
                siguiente link podes encontrar toda la información necesaria,<a
                    href="https://www.ayudatramites.com/afip-clave-fiscal/" target="_blank">CLICK AQUÍ</a>
            </p>
        </div>
    </div>
    <div class="mod-footer">
        <div class="footer-bg"></div>
    </div>
</div>