/* CUANDO DUPLICO TENGO QUE PONER EL NOMBRE DE LA CLASE DE ESE TIP, X EJ .maneuver-vuelo-recto (manuever-nombrearticulo) */

.maneuver-preflight .mod-header {
  background-image: url("assets/header-maneuver.svg");
}

.tit-item-listado-modal-landing {
  margin-bottom: 30px;
}

@media (max-width: 630px) {
  .maneuver-preflight .mod-header {
    background-image: url("assets/header-mob-maneuver.svg");
  }
}
