<!-- ================== BEGIN PAGE CSS STYLE ================== -->
<link href="../modals-landing/maneuver-preflight/maneuver-preflight.css" rel="stylesheet" />
<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="../modals-landing/maneuver-preflight/maneuver-preflight.js"></script>

<div class="modal-content maneuver-preflight">
	<div class="mod-header">
		<div class="header-elems">
			<button type="button" class="mod-close btn-cerrar-modal" data-dismiss="modal">
				<span class="fa fa-close"></span>
			</button>
			<button type="button" class="mod-volver">
				<a href="javascript:void(0)" onclick="openExternalModal('modal-indice', event, true)">
					<span class="fa fa-chevron-circle-left"></span>
				</a>
			</button>
		</div>
	</div>

	<div class="mod-body">
		<div class="data-tip">
			<p class="tit-tematica">
				<span>MANEUVER</span>
				<span class="naranja">TIPS</span>
			</p>
			<!-- Nombre de Autor-->
			<p class="autor">By Roberto Sanchez</p>
			<!-- Fecha del Articulo-->
			<p class="fecha">01/02/2020</p>
		</div>

		<div class="dificultad">
			<div class="text-dificultad">GRADO DE DIFICULTAD</div>
			<!-- descomentar este div si la dificultad es basica-->
			<!-- <div class="img-dificultad"><img src="../../views/modals-landing/assets/ico-basica.svg" class="img-fluid"></div> -->
			<!-- descomentar este div si la dificultad es intermedia-->
			<!-- <div class="img-dificultad"><img src="../../views/modals-landing/assets/ico-media.svg" class="img-fluid"></div> -->
			<!-- descomentar este div si la dificultad es alta-->
			<!-- <div class="img-dificultad"><img src="../../views/modals-landing/assets/ico-alta.svg" class="img-fluid"></div> -->

			<div class="img-dificultad">
				<img src="../../views/modals-landing/assets/ico-media.svg" class="img-fluid" />
			</div>
		</div>

		<!-- Bloque es un parrafo con titulo maranja y texto-->

		<div class="bloque">
			<h1>PreFlight Inspection</h1>
			<!-- <h2>Lorem ipsum dolor sit amet consectetur adipiscing elit. Integer finibus tellus </h2> -->

			<p>
				<strong>Como pilotos tenemos la responsabilidad de comprobar que nuestra aeronave esté en condiciones
					para realizar un vuelo seguro.</strong>
				<br />
				Para esto debemos realizar:</p>
			<div class="t-big-celeste">INSPECCIÓN PREVUELO</div>
			<p>
				La inspección pre-vuelo que <strong>sólo nos tomara unos minutos.</strong>
				<br>Si durante el chequeo prevuelo vemos <i>algo que no está bien, debemos evaluarlo, y si es necesario,
					corregirlo antes de nuestro vuelo.</i>


			</p>
			<div class="t-big-celeste">CHEQUEAR LOS DOCUMENTOS DE LA AERONAVE</div>

			<p>El chequeo de los documentos de la aeronave incluye:</p>
			<ul>
				<li>Certificado de Propiedad</li>
				<li>Certificado de Matriculación</li>
				<li>Certificado de Aeronavegabilidad</li>
				<li>Formulario 337 vigente</li>
				<li>Seguro Vigente</li>
				<li>Certificado del VHF</li>
				<li>POH (Pilot Operating Handbook)</li>
				<li>Matafuegos cargado y vigente</li>
				<li>Botiquín de primeros auxilios</li>
				<li>Anexo I y II para avión escuela</li>
				<li>RTV para transporte aéreo no regular (135)</li>
			</ul>


		</div>

		<!-- Bloque es un parrafo con titulo maranja y texto-->

		<div class="bloque-img-izq">
			<div class="row justify-content-around align-items-top p-4 back-gris">
				<div class="col-12 col-md-4 img-bloque-izq">
					<img src="../../views/modals-landing/maneuver-preflight/assets/prefligth.png"
						class="img-fluid shadow" />
				</div>
				<div class="col-12 col-md-8 text-bloque-izq">
					<div class="p-grande f-naranja mb-3 ">CONTROLES PREFLIGHT</div>
					<p>
						Nuestro chequeo prevuelo debería <strong>comenzar cuando caminamos hacia nuestra
							aeronave,</strong> esto nos da
						una idea de si a simple vista hay algo que no está correctamente.
						<br>
					</p>
					<p>
						<strong>Siempre comenzamos por el lado izquierdo, y lo hacemos en sentido Antihorario.</strong>

					</p>

					<p>A continuación te <strong>detalleremos uno por uno los pasos</strong> que debes seguir.</p>
					<p><i><strong>Esperamos que te sea de utilidad!</strong></i></p>



				</div>
			</div>
		</div>

		<!-- Bloque con listado con numeros-->
		<div class="bloque">

			<ol class="mb-4 listado-modal-landing">

				<li class="tit-item-listado-modal-landing">
					<strong>CABINA</strong>
					<br>
					<i>Primero, verificar que los documentos de nuestra aeronave se encuentren a bordo, esto
						incluye:</i>
					<ul>
						<li>
							Certificado de Propiedad
						</li>
						<li>Certificado de Matriculación</li>
						<li>Certificado de Aeronavegabilidad</li>
						<li>Formulario 337 vigente</li>
						<li>Seguro Vigente</li>
						<li>Certificado del VHF</li>
						<li>POH (Pilot Operating Handbook)</li>
						<li>Matafuegos cargado y vigente</li>
						<li>Botiquín de primeros auxilios</li>
						<li>Anexo I y II para avión escuela</li>
						<li>RTV para transporte aéreo no regular (135)</li>
					</ul>

					<i>En segundo lugar procederemos a:</i>

					<ul>
						<li>Retiramos nuestro control lock (traba de control), y verificamos que los comandos se muevan
							libremente.
						</li>
						<li>Nos fijamos que esté libre nuestra zona de la hélice, y ponemos nuestro MASTER switch en ON.
						</li>
						<li>Verificamos que nuestros indicadores de combustible indiquen correctamente la cantidad de
							combustible con la que contamos.
						</li>
						<li>Bajamos los flaps, y ponemos nuestro MASTER switch en OFF.
						</li>
						<li>Aseguramos que el parabrisas y las ventanas estén limpias, y en buenas condiciones.
						</li>
						<li>Antes de continuar con nuestro chequeo, verificamos que nuestro switch de magneto, master,
							control de mezcla, y throttle estén en la posición de OFF.
						</li>

					</ul>

				</li>

				<li class="tit-item-listado-modal-landing">
					<strong>FUSELAJE (Lado izquierdo): </strong>
					<ul>
						<li>Inspeccionamos el lado izquierdo del fuselaje asegurándonos que no notamos daño en él. </li>
						<li>Chequeamos la superficie debajo del fuselaje para comprobar si no hay pérdida de aceite, o
							daño estructural.</li>
						<li>Si hay una toma estática, chequeamos que esté libre de obstrucciones.
							<br>
							<i>(Durante la limpieza de la aeronave, es posible que la toma estática quede obstruida, es
								importante que esté libre para que nos dé una correcta indicación en el altímetro,
								velocímetro y variómetro.) </i>
						</li>
					</ul>
				</li>

				<li class="tit-item-listado-modal-landing">
					<strong>EMPENAJE: </strong>
					<ul>
						<li>Examinamos la superficie de la cola de la aeronave verificando que no haya daño en la
							estructura o también en la pintura y que ningún remache esté suelto.</li>
						<li>Verificamos que el rudder no esté dañado, y que esté libre de movimiento. </li>
						<li>Inspeccionamos los cables de control y freno.</li>
						<li>Visualmente chequeamos que las luces y las antenas no estén dañadas. </li>
						<li>Verificamos que la aleta del compensador este en buenas condiciones generales.</li>

					</ul>
				</li>

				<li class="tit-item-listado-modal-landing">
					<strong>FUSELAJE (Lado derecho): </strong>
					<ul>
						<li>Repetimos el mismo procedimiento como lo hicimos con el lado izquierdo, comprobando que no
							haya rasgaduras o algún tipo de daño. </li>

					</ul>
				</li>

				<li class="tit-item-listado-modal-landing">
					<strong>ALA DERECHA </strong>
					<ul>
						<li>Inspeccionamos detenidamente nuestros flaps, que estén en buenas condiciones y no haya algún
							tipo de desgaste.</li>
						<li>Chequeamos que nuestros alerones no estén dañados y estén libres de movimiento. </li>
						<li>Cables del ala deben estar bien tensados y sin daño. </li>
						<li>Verificamos que la punta del ala y la luz de navegación estén en buenas condiciones. </li>
						<li>Examinamos el borde de ataque del ala y la superficie superior del ala, en busca de
							abolladuras u algún otro tipo de daño. </li>
						<li>Removemos la tapa del tanque de combustible y visualmente chequeamos la cantidad de
							combustible, y si coincide con la indicación que nos dan los indicadores de combustible,
							luego de esto volvemos a colocar la tapa y cerramos correctamente.</li>
						<li>Verificar venteo de los tanques de combustible libre de obstrucciones.</li>
						<li>Drena un poco de combustible, y verifica su color, y que no haya presencia de agua u algún
							tipo de suciedad</li>
					</ul>
				</li>

				<li class="tit-item-listado-modal-landing">
					<strong>TREN DE ATERRIZAJE (lado derecho) </strong>
					<ul>
						<li>Inspeccionamos la pintura alrededor de las fijaciones para detectar abolladuras u otro daño.
						</li>
						<li>Examinamos la rueda para ver si está correctamente inflada, no tiene cortes y esta en buen
							estado. </li>
						<li>Comprobamos que las pastillas de freno no estén desgastadas, y las líneas de freno
							hidráulico no tengan fugas.</li>

					</ul>
				</li>

				<li class="tit-item-listado-modal-landing">
					<strong>NARIZ </strong>
					<ul>
						<li>Abrimos el capot para inspeccionar los componentes del motor en busca de cables sueltos y
							abrazaderas, mangueras desgastadas y fugas de aceite o combustible. </li>
						<li>Quitamos la tapa del compartimento de aceite y verificamos que la cantidad sea superior al
							mínimo indicado, agregar aceite si es necesario y volver a tapar correctamente para evitar
							pérdidas. </li>
						<li>Tomamos una muestra y además drenamos el filtro de combustible durante varios segundos para
							eliminar cualquier tipo de agua o suciedad. </li>
						<li>Si hay un drenaje de combustible en la parte inferior del ala, tomamos una muestra de esta y
							verificamos ausencia de contaminación. </li>
						<li>Chequea la cubierta del motor por seguridad.</li>
						<li>Inspeccionamos la hélice por grietas o daño.</li>
						<li>Si tu avión tiene una hélice de velocidad constante, verifica por perdidas de aceite. </li>
						<li>Examinamos la rueda de nariz. </li>
						<li>Inspeccionamos los eslabones de dirección por seguridad y el amortiguador por fugas o daños.
						</li>

					</ul>
				</li>

				<li class="tit-item-listado-modal-landing">
					<strong>TREN DE ATERRIZAJE (lado izquierdo)</strong>
					<ul>
						<li>Repetimos el procedimiento que hicimos en el lado derecho. </li>
					</ul>
				</li>

				<li class="tit-item-listado-modal-landing">
					<strong>ALA IZQUIERDA</strong>
					<ul>
						<li>Inspeccionamos el ala izquierda como lo hicimos con el lado derecho. </li>
						<li>Examinamos el tubo pitot por daño, y apertura correcta sin obstrucciones. </li>
						<li>Chequeamos la alarma de stall (si está instalada) por libre movimiento</li>
					</ul>
				</li>




			</ol>
		</div>

		<!-- Bloque destacado celeste-->

		<div class="destacado-celeste text-center">
			<div class="titulo-destacado-celeste mb-3">
				CHEQUEO PREVUElO OBJETIVO
			</div>

			<p><strong> DETERMINAR QUE EL PILOTO </strong></p>
			<ul class="text-left">
				<li class="mb-2"><strong>Demuestra conocimiento de los elementos relacionados con el chequeo
						prevuelo.</strong> Esto incluye los ítems a inspeccionar, las razones por los cual realizamos su
					chequeo y como detectar posibles defectos. </li>
				<li class="mb-2">
					Inspecciona la aeronave en referencia a una <strong>correcta lista de chequeo.</strong>
				</li>
				<li class="mb-2">
					Verifica que la aeronave está en <strong>buenas condiciones para realizar un vuelo.</strong>
				</li>
			</ul>


		</div>

		<!-- FICHA AUTOR -->
		<div class="ficha-autor">
			<div class="foto-autor">
				<img src="../../views/modals-landing/maneuver-preflight/assets/foto-escritor.png" class="img-fluid" />
			</div>
			<div class="datos-autor">
				<p class="nombre-autor">
					ROBERTO SANCHEZ
				</p>
				<p class="escuela-autor">
					ESCUELA VOLAR
				</p>
				<div class="redes-autor">
					<!-- Para quitar una red social hay que borrar el <a> donde esta esa red social-->

					<a href="http://google.com" target="_blank" class="twitter">
						<img src="../../views/modals-landing/assets/ico-twitter.svg" class="img-fluid" />
					</a>
					<a href="http://google.com" target="_blank" class="instagram-autor">
						<img src="../../views/modals-landing/assets/ico-instagram.svg" class="img-fluid" />
					</a>
					<a href="http://google.com" target="_blank" class="web">
						<img src="../../views/modals-landing/assets/ico-web.svg" class="img-fluid" />
					</a>
				</div>
			</div>
		</div>

		<!-- COMO GUARDAR -->

		<div class="desplegable-wrapper desplegable-guardar" id="desplegable-guardar-explicacion">
			<div class="desplegable-header">
				<button type="button" class="btn-cerrar">
					<span class="fa fa-close"></span>
				</button>
			</div>
			<div class="desplegable-cont">
				<h1>¿COMO GUARDAR EL TIP?</h1>
				<h2>Si te gustó este tip PODÉS guardalo desde instagram</h2>
				<p>
					Para poder guardar el tip y volver a mirarlo tantas veces como
					quieras, debes seguirnos en Instagram, si es que todavía no nos
					sigues, y guardar el tip que te gustó. Es muy fácil, aquí te mostramos
					cómo hacerlo.
				</p>
				<div class="desplegable-imagen">
					<img src="../../views/modals-landing/assets/img-guardar.svg" class="img-fluid" />
				</div>
			</div>

			<div class="desplegable-footer">
				<a href="http://google.com" target="_blank" class="btn btn-gral btn-guardar text-truncate">
					<div>IR A LA PUBLICACION</div>
					<img src="../../views/modals-landing/assets/ico-instagram-btn.svg" />
				</a>
			</div>
		</div>

		<!-- BOTONES -->

		<div class="botones-redes-wrapper">
			<!-- BOTON share -->
			<!-- <a href="http://google.com" class="btn btn-redes btn-share btn-gral ">
				<div class="label  text-truncate">SHARE</div>
				<img class="image" src="../../views/modals-landing/assets/ico-share.svg">
			</a> -->

			<a href="javascript:void(0)" id="btn-guardar-explicacion"
				class="btn btn-redes btn-guardar btn-gral btn-desplegable">
				<div class="label text-truncate">GUARDAR</div>
				<img class="image" src="../../views/modals-landing/assets/ico-guardar.svg" />
			</a>

			<!-- BOTON bajar pdf-->
			<!-- <a href="http://google.com" target="_blank" class="btn btn-redes btn-pdf btn-gral">
				<div class="label text-truncate">BAJAR</div>
				<img  class="image"src="../../views/modals-landing/assets/ico-pdf.svg">
			</a> -->
		</div>
	</div>


	<div class="mod-footer">
		<div class="footer-bg"></div>
	</div>
</div>