<!-- ================== BEGIN PAGE CSS STYLE ================== -->
<link href="../modals/m-s-2-cma/m-s-2-cma.min.css" rel="stylesheet" />
<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="../modals/m-s-2-cma/m-s-2-cma.js"></script>


<div class="modal-content m-s-2-cma">
    <div class="mod-header">
        <div class="header-bg"></div>
        <div class="header-elems">
            <div class="mod-tit">Certificacion Medica Aeronautica (CMA)
            </div>
            <!--  <div class="mod-subtit">TIPS QUE DEBES CONOCER ANTES DE ELEGIR TU ESCUELA</div> -->
            <button type="button" class="mod-close btn-cerrar" data-dismiss="modal">
                <span class="fa fa-close"></span>
            </button>
            <div class="mod-icon">
                <img src="../../views/modals/assets/ico-modal-section-2-1.svg" class="img-fluid"
                    alt="que debo tener en cuenta" />
            </div>
        </div>

    </div>
    <div class="mod-body">
        <div class="bloque">
            <h1>¿Que es la CMA?</h1>

            <p>Según ANAC “Es una prueba fehaciente expedida por un Médico Examinador Aeronáutico, Centro Médico
                Aeronáutico Examinador o Autoridad Médica Aeronáutica Civil (Departamento Evaluación Médica), al efecto
                de que el titular de una licencia, certificado de competencia y/o habilitación satisfaga determinadas
                condiciones de aptitud psicofisiológicas.”
            </p>

        </div>

        <div class="bloque">
            <h1>¿Como y donde se hace?</h1>
            <p>Si es tu <strong>primer CMA </strong>vas a tener que pedir <strong>turno desde el CAD (Casillero
                    Aeronautico Digital) </strong>
            </p>

            <!-- Tutorial Desplegable-->

            <div class="desplegable-wrapper desplegable-guardar" id="desplegable-tutorial-cma">

                <div class="desplegable-header">
                    <button type="button" class="btn-cerrar">
                        <span class="fa fa-close"></span>
                    </button>
                </div>

                <div class="desplegable-cont">
                    <h1>Casillero Aeronáutico Digital (CAD)</h1>

                    <p class="p-naranja"><strong> Vamos a explicar paso por paso como tramitar la solicitud para
                            realizar el primer Certificado Médico Aeronáutico (CMA)</strong></p>

                    <div class="paso">

                        <p><span class="p-naranja"><strong>1-</strong></span> Una vez que hayamos <strong>abierto sesión
                                en el Casillero Aeronáutico Digital </strong> y estemos dentro nos dirigiremos a la
                            <strong> opción que dice CMA</strong>
                        </p>
                        <div class="desplegable-imagen"><img src="../modals/m-s-2-cma/assets/m-s-2-cma1.png"
                                class="img-fluid" alt="Paso 1" /></div>

                    </div>

                    <div class="paso">

                        <p>
                            <span class="p-naranja"><strong>2-</strong>
                            </span>
                            Luego, podremos ver diferentes opciones para realizar varios tipos de certificados
                            aeronáuticos, nosotros debemos <strong> ir a la opción que dice “ingresar nuevo tramite de
                                CMA INICIAL”.</strong>
                        </p>
                        <div class="desplegable-imagen"><img src="../modals/m-s-2-cma/assets/m-s-2-cma2.png"
                                class="img-fluid" alt="Paso 1" /></div>

                    </div>

                    <!-- paso 3 -->

                    <div class="paso">

                        <p>
                            <span class="p-naranja"><strong>3-</strong>
                            </span>
                            Ahora debemos realizar y completar los siguientes datos:
                        <p>

                        <p class="p-naranja">
                            <strong>
                                Datos personales:
                            </strong>
                        </p>
                        <p>
                            Como primera instancia <strong> completaremos todos nuestros datos personales </strong>que
                            nos pide el CAD para así poder continuar, en caso de que no estén todos los campos completos
                            no vamos a poder seguir con los pasos restantes.
                        </p>
                        <p class="p-naranja">
                            <strong>
                                Datos Profesionales:
                            </strong>
                        </p>
                        <p>
                            Luego, <strong> completaremos nuestros datos Profesionales, </strong>como verán primero
                            debemos completar donde desempeñamos nuestra actividad aeronáutica y esto puede ser tanto
                            aeródromo, un aeroclub y/o una escuela de vuelo.
                            <br>
                            <br>
                            El segundo casillero sirve para <strong> indicar qué tipo de licencia queremos
                                obtener,</strong> como es nuestro primer CMA debemos buscar la <strong> opción que diga
                                “Piloto Privado de Avión (PPA)”</strong>
                            <br>
                            <br>
                            Por último debemos <strong> indicar dónde queremos realizar los exámenes médicos. </strong>
                            <br>
                            Como sabrán los exámenes se pueden realizar con un <strong> Medico Examinador Aeronáutico
                                (AME) </strong> o en uno de los <strong> Centros Médicos Aeronáuticos (CMAE),</strong>
                            ahí ponen el que más les convenga o donde su escuela los haya enviado.

                        </p>
                        <div class="desplegable-imagen"><img src="../modals/m-s-2-cma/assets/m-s-2-cma3.png"
                                class="img-fluid" alt="Paso 3" /></div>
                    </div>
                    <div class="paso">

                        <p class="p-naranja">
                            <strong>
                                Datos Médicos:
                            </strong>
                        </p>
                        <p>Por último <strong>completaremos todos nuestros datos Médicos.</strong> Es de suma
                            importancia <strong>no omitir ningún paso y contestar siempre con total
                                responsabilidad.</strong></p>

                        <div class="desplegable-imagen"><img src="../modals/m-s-2-cma/assets/m-s-2-cma3-1.png"
                                class="img-fluid" alt="Paso 3 medico" /></div>

                    </div>

                    <!-- paso 4 -->

                    <div class="paso">


                        <p>
                            <span class="p-naranja"><strong>4-</strong>
                            </span>
                            Hecho todos los pasos anteriores es la hora de finalizar nuestra solicitud de trámite, para
                            eso debemos <strong>dirigirnos a la opción “confirmar tramite CMA” en la esquina superior
                                derecha de la pantalla.</strong>
                        </p>
                        <div class="desplegable-imagen"><img src="../modals/m-s-2-cma/assets/m-s-2-cma4.png"
                                class="img-fluid" alt="Paso 4" /></div>

                    </div>

                    <!-- paso 4-1 -->


                    <div class="paso">
                        <p><strong> Al presionar esa opción se nos abrirá un cartel como el siguiente: </strong></p>

                        <div class="desplegable-imagen"><img src="../modals/m-s-2-cma/assets/m-s-2-cma4-1.png"
                                class="img-fluid" alt="Paso 4-1" /></div>

                    </div>


                    <!-- paso 4-2 -->


                    <div class="paso">
                        <p><strong> Una vez que hayamos confirmado el tramite, este aparecerá como finalizado y se nos
                                enviara un correo electrónico a nuestra casilla. </strong></p>

                        <div class="desplegable-imagen"><img src="../modals/m-s-2-cma/assets/m-s-2-cma4-2.png"
                                class="img-fluid" alt="Paso 4-2" /></div>

                    </div>


                    <div class="paso">
                        <p class="p-naranja"><strong>Como pagar el Certificado Médico Aeronáutico</strong></p>

                        <p>
                            Si nuestro <strong>centro examinador es un CMAE el pago se hace únicamente con tarjeta de
                                Debito o Crédito en el lugar que nos haremos los estudios,</strong> en caso de que
                            nuestros estudios los hagamos con un <strong> medico examinador particular dependerá de cada
                                uno el medio y la forma de pago. </strong>
                            <br>
                            <br>
                            <i>
                                De todas formas, una vez que hayamos confirmado el turno para realizar los estudios nos
                                llegara un mail con la información de cómo realizar el respectivo pago.

                            </i>
                        </p>
                    </div>

                    <div class="ayuda-tramite">
                        <div class="img-ayuda-tramite">
                            <img src="../../images/gral/img-whatsapp-ayuda.svg" class="img-fluid" alt="Ayuda" />
                        </div>
                        <div class="anuncio-ayuda">
                            <div class="texto-anuncio">
                                PODEMOS HACER EL TRÁMITE POR TI
                            </div>
                            <div class="texto-ayuda-tramite">
                                <span>COMÚNICATE CON NOSOTROS</span>
                                <img src="../../images/gral/ico-whatsapp-ayuda.svg" class="img-fluid"
                                    alt="Whtasapp Ayuda" />
                            </div>

                        </div>


                    </div>

                </div>
                <!-- End Desplegable Cont -->





            </div>

            <button class="btn btn-modal text-truncate btn-tutorial">VER TUTORIAL</button>
            <!-- End Tutorial Desplegable-->







            <p>Para <strong> hacer la certificación médica</strong> hay dos centros habilitados:
            </p>
            <ul class="mb-4">

                <li><strong>IMAE</strong> - Instituto Nacional de Medicina Aeroespacial - Av. Belisario Roldán 4651.
                </li>
                <li><strong>GENEA </strong>- Av. Martín García 378, San Telmo.</li>

            </ul>


            <p class="destacado-celeste">
                <strong>También podés consultar la preguntas frecuentes de ANAC sobre la CMA, haciendo <a
                        href="https://www.anac.gov.ar/anac/web/index.php/1/873/cma-certificacion-medica-aeronautica-/preguntas-frecuentes#p2"
                        target="_blank">CLICK AQUI</a></strong>
            </p>

        </div>

    </div>
    <div class="mod-footer">
        <div class="footer-bg"></div>
    </div>
</div>