<!-- ================== BEGIN PAGE CSS STYLE ================== -->
<link href="../modals/m-s-4-curso-oor/m-s-4-curso-oor.min.css" rel="stylesheet" />
<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="../modals/m-s-4-curso-oor/m-s-4-curso-oor.js"></script>


<div class="modal-content m-s-4-curso-oor">
    <div class="mod-header">
        <div class="header-bg"></div>
        <div class="header-elems">
            <div class="mod-tit">Curso ORR (Operador Radiotelefonista Restringido)

            </div>
            <!--  <div class="mod-subtit">TIPS QUE DEBES CONOCER ANTES DE ELEGIR TU ESCUELA</div> -->
            <button type="button" class="mod-close btn-cerrar" data-dismiss="modal">
                <span class="fa fa-close"></span>
            </button>
            <div class="mod-icon">
                <img src="../../views/modals/assets/ico-modal-curso.svg" class="img-fluid" alt="Curso ORR" />
            </div>
        </div>

    </div>
    <div class="mod-body">
        <div class="bloque">
            <h1>¿En que consiste el Curso?</h1>

            <p>El curso de Operador Radiotelefonista Restringido, está pensando para que toda persona sepa operar con un
                <strong>correcto funcionamiento los equipos y sistemas de telecomunicaciones </strong> en nuestro caso
                como pilotos usamos cotidianamente en vuelo.
                <br>Este curso cuenta con una <strong>habilitación oficial e internacional otorgada por el Ente Nacional
                    de Comunicaciones (ENACOM),</strong> La licencia de Operador Radiotelefonista Restringido (ORR) es
                obligatoria para todos los pilotos de todas las aeronaves, <strong>es un requisito que se pide para el
                    ingreso de cualquier línea aérea.</strong>
            </p>

        </div>

        <div class="bloque">
            <h1>Como obtener la habilitación</h1>
            <ul>
                <li>La persona que lo desee puede <strong>rendir los exámenes libres solo anotándose en la página de
                        ENACOM,</strong> donde también encontraremos todo el material de estudios y los aranceles para
                    dicho examen.</li>
                <li>También, en varios <strong>centros de estudio aeronáuticos se puede realizar el curso y sus
                        respectivos exámenes de aprobación,</strong> los cursos son muy variados y dependen de cada
                    lugar, podremos encontrar cursos intensivos o más extensos.</li>
            </ul>
        </div>

        <div class="bloque">
            <h1>Contenido</h1>
            <p>Los temas a desarrollar del curso están divididos en <strong>dos secciones, la sección de Tecnología y la
                    de Reglamentos,</strong> que a su vez, estas tienen el siguiente contenido:
            </p>
            <div class="t-big-celeste">TECNOLOGIA</div>
            <p>
                Conductores y semi-conductores, circuitos eléctricos, fuentes de alimentación secundaria, clase de
                emisión y ancho de banda, transmisión y modulación, recepción y demodulación, sistemas irradiantes,
                nociones de propagación, SMSSM, espectro radioeléctrico, equipos de radio-comunicaciones.
            </p>
            <div class="t-big-celeste"> REGLAMENTACION </div>
            <p>
                Introducción, husos horarios, identificación de las estaciones, condiciones de estaciones móviles, SMM,
                socorro/alarma/urgencia/seguridad, códigos y abreviaturas internacionales, SMSSM, RESMMA, AFS, SMA,
                documentación, normas operativas y de procedimiento, seguridad en la navegación, comunicaciones
                especiales, comunicaciones náuticas deportivas, servicio público de radiocomunicaciones, despachos,
                detención de despachos, liquidaciones y tasas.
            </p>
        </div>
        <div class="bloque">
            <h1>Vencimiento del Certificado</h1>

            <p>Los certificados de Operadores Radiotelefonistas tienen una <strong>vigencia de cinco años,</strong>
                <br>
                Se debe realizar una <strong>renovación del certificado dentro de los 90 días anteriores y posteriores a
                    la fecha de vencimiento de dicho certificado.</strong>
                <br>
                <i>En caso de que el periodo de los 90 días haya finalizado y no se haya iniciado el trámite de
                    renovación el certificado debe ser rehabilitado. </i>

            </p>

            <p class="destacado-celeste">
                <strong>La persona que no haya renovado su certificado a tiempo queda inhabilitada para operar equipos
                    de telecomunicaciones automáticamente. </strong>
            </p>

        </div>


    </div>
    <div class="mod-footer">
        <div class="footer-bg"></div>

    </div>
</div>