<!-- ================== BEGIN PAGE CSS STYLE ================== -->
<link href="../modals/m-s-4-requisitos/m-s-4-requisitos.min.css" rel="stylesheet" />
<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="../modals/m-s-4-requisitos/m-s-4-requisitos.js"></script>


<div class="modal-content m-s-4-requisitos">
    <div class="mod-header">
        <div class="header-bg"></div>
        <div class="header-elems">
            <div class="mod-tit">Requisitos para el otorgamiento de la Licencia</div>
            <!-- <div class="mod-subtit">TIPS QUE DEBES CONOCER ANTES DE ELEGIR TU ESCUELA</div> -->
            <button type="button" class="mod-close btn-cerrar" data-dismiss="modal">
                <span class="fa fa-close"></span>
            </button>
            <div class="mod-icon">
                <img src="../../views/modals/assets/ico-modal-requisitos.svg" class="img-fluid"
                    alt="Requisitos para el otorgamiento de la Licencia" />
            </div>
        </div>

    </div>
    <div class="mod-body">


        <div class="bloque">
            <h1>Requisitos para la iniciación del curso teórico</h1>

            <ul class="mb-4">

                <li>Licencia de Piloto Privado de Avión</li>
                <li>18 años de edad</li>
                <li>Tener certificado de estudios secundarios otorgado por el ministerio de educación argentino</li>
                <li>En caso de que no hayas realizado tu secundario en Argentina debes legalizar tu título en el
                    ministerio de educación de tu país, y luego apostillarlo en el ministerio de relaciones exteriores.
                    Se conoce como Apostillado de La Haya. Normalmente no cuesta mucho dinero y puede realizarse en un
                    dia.

                </li>

            </ul>
        </div>
    </div>

    <div class="mod-footer">
        <div class="footer-bg"></div>

    </div>
</div>