<!-- ================== BEGIN PAGE CSS STYLE ================== -->
<link href="../modals/m-s-3-experiencia/m-s-3-experiencia.min.css" rel="stylesheet" />
<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="../modals/m-s-3-experiencia/m-s-3-experiencia.js"></script>


<div class="modal-content m-s-3-experiencia">
    <div class="mod-header">
        <div class="header-bg"></div>
        <div class="header-elems">
            <div class="mod-tit">Experiencia de Vuelo para obtener la licencia PPA
            </div>
            <!--  <div class="mod-subtit">TIPS QUE DEBES CONOCER ANTES DE ELEGIR TU ESCUELA</div> -->
            <button type="button" class="mod-close btn-cerrar" data-dismiss="modal">
                <span class="fa fa-close"></span>
            </button>
            <div class="mod-icon">
                <img src="../../views/modals/assets/ico-modal-experiencia.svg" class="img-fluid"
                    alt="Experiencia de Vuelo para obtener la licencia PPA" />
            </div>
        </div>

    </div>
    <div class="mod-body">

        <div class="bloque">
            <h1>horas de vuelo necesarias</h1>
            <p class="t-celeste"><strong> Para la obtención de la Licencia se deberá tener como mínimo 40 hs. de
                    vuelo.</strong>
            </p>


            <span> Estas horas se dividen en:</span>
            <ul class="mb-4">

                <li><strong>30 hs. doble comando</strong></li>
                <li><strong>6 hs. de travesía (incluidas en las 30hs de doble comando)</strong></li>
                <li><strong>10 hs. de “vuelo sólo local” bajo supervisión de un instructor</strong></li>

            </ul>

            <div class="t-celeste"> UNA VEZ CUMPLIDAS LAS 40 HS. OBLIGATORIAS PUEDES RENDIR EL EXÁMEN</div>
            <p><strong>El exámen final puede realizarse recién a partir de los 30 días de hecho el primer vuelo y debe
                    realizarse antes de los 2 años del primer vuelo, </strong> caso contrario, las horas voladas desde
                hace más de 2 años se vencerán.<br>
            </p>

            <div class="destacado-celeste">
                <div class="t-celeste">PARA TENER EN CUENTA</div>
                <p><strong> Si bien el curso tiene un mínimo de 40 hs. prácticas, eso no quiere decir que sean las horas
                        definitivas del alumno para finalizar.</strong>
                    <br>
                    Éstas van a depender de su dedicación, tiempo, estudio y constancia para ir atravesando las
                    lecciones de vuelo y el plan de estudios que tu escuela o aeroclub tengan pensado para vos.
                    <br>Además, según el lugar de estudio, se deberán tomar clases tanto teóricas como prácticas en
                    simulador para aprender y mejorar aspectos que en vuelo se hacen muy difíciles de enseñar.</p>
            </div>

        </div>

    </div>
    <div class="mod-footer">
        <div class="footer-bg"></div>

    </div>
</div>