<!-- ================== BEGIN PAGE CSS STYLE ================== -->
<link href="../modals/m-s-1-selecciona-escuela/m-s-1-selecciona-escuela.min.css" rel="stylesheet" />
<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="../modals/m-s-1-selecciona-escuela/m-s-1-selecciona-escuela.js"></script>


<div class="modal-content m-s-1-selecciona-escuela">
    <div class="mod-header">
        <div class="header-bg"></div>
        <div class="header-elems">
            <div class="mod-tit">Selecciona tu escuela
            </div>
            <!--  <div class="mod-subtit">TIPS QUE DEBES CONOCER ANTES DE ELEGIR TU ESCUELA</div> -->
            <button type="button" class="mod-close btn-cerrar" data-dismiss="modal">
                <span class="fa fa-close"></span>
            </button>
            <div class="mod-icon">
                <img src="../../views/modals/assets/ico-modal-section-1-2.svg" class="img-fluid"
                    alt="que debo tener en cuenta" />
            </div>
        </div>

    </div>
    <div class="mod-body">
        <div class="bloque">
            <h1>Listado de escuelas</h1>

            <p>Estamos recabando la info de las escuelas, en breve podrás ver el listado de escuela</p>
            </p>
        </div>
    </div>
    <div class="mod-footer">
        <div class="footer-bg"></div>
    </div>
</div>