<!-- ================== BEGIN PAGE CSS STYLE ================== -->
<link href="../modals/m-s-3-costumbres/m-s-3-costumbres.min.css" rel="stylesheet" />
<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="../modals/m-s-3-costumbres/m-s-3-costumbres.js"></script>


<div class="modal-content m-s-3-costumbres">
    <div class="mod-header">
        <div class="header-bg"></div>
        <div class="header-elems">
            <div class="mod-tit">Prácticas y buenas costumbres
            </div>
            <!--  <div class="mod-subtit">TIPS QUE DEBES CONOCER ANTES DE ELEGIR TU ESCUELA</div> -->
            <button type="button" class="mod-close btn-cerrar" data-dismiss="modal">
                <span class="fa fa-close"></span>
            </button>
            <div class="mod-icon">
                <img src="../../views/modals/assets/ico-modal-costumbres.svg" class="img-fluid"
                    alt="Prácticas y buenas costumbres" />
            </div>
        </div>

    </div>
    <div class="mod-body">
        <div class="bloque">
            <h1>reglas no escritas</h1>
            <p>
                Como en otros ámbitos de la vida existen <strong> reglas que no están escritas ni tampoco son
                    obligatorias, pero es una muestra de respeto y humildad seguirlas.</strong>
            </p>
            <p>

                Si en tu escuela no es obligatorio vestir uniforme cuando se vuela para el dia del <strong> exámen se
                    acostumbra ir vestido de manera agradable.</strong>
                <br><i>Recuerda que tu imagen transmite confianza y profesionalismo, tanto para tu inspector como para
                    tus futuros pasajeros.</i>

            </p>
            <p>
                <strong> También se acostumbra llevar un snack o alguna forma de aprecio. </strong>Unas facturas para
                comer antes o después del examen son una buena opción. Otra excelente opción sería <strong> invitar un
                    asado.</strong>
            </p>

        </div>

    </div>
    <div class="mod-footer">
        <div class="footer-bg"></div>

    </div>
</div>