<!-- ================== BEGIN PAGE CSS STYLE ================== -->
<link href="../modals/m-s-tramites/m-s-tramites.min.css" rel="stylesheet" />
<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="../modals/m-s-tramites/m-s-tramites.js"></script>


<div class="modal-content m-s-tramites">
    <div class="mod-header">
        <div class="header-bg"></div>
        <div class="header-elems">
            <div class="mod-tit">FOLIADO DE LIBRO DE VUELO
            </div>
            <!--  <div class="mod-subtit">TIPS QUE DEBES CONOCER ANTES DE ELEGIR TU ESCUELA</div> -->
            <button type="button" class="mod-close btn-cerrar" data-dismiss="modal">
                <span class="fa fa-close"></span>
            </button>
            <div class="mod-icon">
                <img src="../../views/modals/assets/ico-modal-tramites.svg" class="img-fluid"
                    alt="Horas de Simulador" />
            </div>
        </div>

    </div>
    <div class="mod-body">
        <div class="bloque">
            <h1>FOLIADO DEL LIBRO DE VUELO</h1>

            <p><strong> Este trámite se realiza ante la ANAC, verifica y registra que la actividad de vuelo declarada
                    por el/ la piloto sea verídica.
                </strong>
                <br>
                <i>
                    Una vez realizado el primer Foliado se debe volver a realizar el trámite cada 3 años.

                </i>

            </p>
        </div>
        <div class="bloque">
            <h1>Por donde Empezar!</h1>

            <p class="t-big-celeste mb-3">
                Si vuelas en una escuela de vuelo:
            </p>

            <p>
                <span class="p-naranja">
                    <strong>1-</strong>
                </span>
                Pediles que te envíen el archivo del<strong> RAV (Registro de Actividad de Vuelo) </strong> para que lo
                puedas imprimir ( o descargalo acá).
                <br>

                <i>*Algunas escuelas te arman las RAV directamente.</i>
            </p>

            <p>
                <span class="p-naranja">
                    <strong>2-</strong>
                </span>
                Una vez que imprimiste tu RAV vacía:
            </p>
            <img src="../modals/m-s-tramites/assets/m-s-tramite1.png" class="mb-5 mt-3 img-fluid" alt="rav" />

            <p>
                <span class="p-naranja">
                    <strong>3-</strong>
                </span>
                Completar el formulario RAV:
            </p>
            <p class="destacado-celeste"><strong>A TENER EN CUENTA! Se completa un formulario por cada año.</strong>
                <br>
                <br>
                <span>
                    Ahora a sentarnos con el libro de vuelo y <strong> un poco de paciencia, el formulario es fácil de
                        completar.</strong>
                    <br>


                    <strong>En la parte superior </strong> hay que completar datos personales: Licencia,Vencimiento de
                    Psicofísico, Escuela,Etc.
                    <br>
                    <strong>En la parte inferior,</strong> está la tabla de Horas en donde hay que poner una por una las
                    horas voladas durante año (dia, mes, desde, hasta, horario de salida y llegada, Matrícula de la
                    aeronave y los tiempos de vuelo).
                </span>
            </p>

            <p>
                <span class="p-naranja">
                    <strong>4-</strong>
                </span>
                Los Formularios de RAV tienen que ser <strong>firmados por el Titular de la Escuela y por la Autoridad
                    Aeronáutica ( Ej: Jefe de Aeródromo).
                </strong>
                <br>
                Así que vas a <strong>ir a tu escuela y pedir que te lo firmen! Muy facil.</strong>
                <br>
                Después vas a tener que <strong> entrar al CAD de ANAC, vas a ir a “e-Pagos”</strong>

            </p>

            <img src="../modals/m-s-tramites/assets/m-s-tramite2.png" class="mb-lg-5 mb-2 mt-2 mt-lg-3 img-fluid"
                alt="rav" />

            <p class="p-mayuscula p-naranja p-grande"><strong>Ingresa a iniciar pagos</strong></p>

            <img src="../modals/m-s-tramites/assets/m-s-tramite3.png" class="mb-lg-5 mb-2 mt-2 mt-lg-3 img-fluid"
                alt="rav" />

            <p class="p-mayuscula p-naranja p-grande"><strong>En el buscador de la parte inferior escribí
                    “FIRMAS”.</strong></p>

            <img src="../modals/m-s-tramites/assets/m-s-tramite4.png" class="mb-lg-5 mb-2 mt-2 mt-lg-3 img-fluid"
                alt="rav" />

            <p class="p-mayuscula p-naranja p-grande"><strong>Selecciona “Otros/Certificación de Firmas por trámites” y
                    Confirmar.</strong></p>

            <img src="../modals/m-s-tramites/assets/m-s-tramite5.png" class="mb-lg-5 mb-2 mt-2 mt-lg-3 img-fluid"
                alt="rav" />

            <p class="p-mayuscula p-naranja p-grande"><strong>Completa tus datos personales y toca Aceptar.</strong></p>

            <img src="../modals/m-s-tramites/assets/m-s-tramite6.png" class="mb-lg-5 mb-2 mt-2 mt-lg-3 img-fluid"
                alt="rav" />

            <p class="p-mayuscula p-naranja p-grande"><strong>En la parte inferior derecha toca “Ver Trámites
                    Seleccionados”.</strong></p>

            <img src="../modals/m-s-tramites/assets/m-s-tramite7.png" class="mb-lg-5 mb-2 mt-2 mt-lg-3 img-fluid"
                alt="rav" />

            <p class="p-mayuscula p-naranja p-grande"><strong> Selecciona el tipo Comprobante que queres, Puede ser VEP(
                    Volante Electrónica de Pago) esta se paga desde el Home Banking de tu banco o podes elegir Boleta de
                    pago y utilizar los demás medios de pago que te ofrecen.
                </strong></p>

            <img src="../modals/m-s-tramites/assets/m-s-tramite8.png" class="mb-lg-5 mb-2 mt-2 mt-lg-3 img-fluid"
                alt="rav" />

            <p class="p-mayuscula p-naranja p-grande"><strong> Una vez elegido el tipo de comprobante toca “Finalizar” y
                    descarga tu comprobante.</strong></p>

            <p>
                <span class="p-naranja">
                    <strong>5-</strong>
                </span>
                Ahora que <strong>ya tienes tu certificado de firmas </strong> podes llevar todas los formularios RAV (
                de todas las escuelas donde hayas volado) al jefe de aeródromo para que los firme.

            </p>

            <p class="destacado-celeste">
                <strong>ACLARACIÓN:</strong> Se necesita UN SOLO certificado de firmas para todas los formularios RAV
                sean de donde sean.
            </p>


            <p>
                <span class="p-naranja">
                    <strong>6-</strong>
                </span>
                Una vez que tengas todos los formularios RAV firmados por el Jefe de aeródromo y por el titular de tu
                escuela, ingresa al CAD a e-Pagos nuevamente y en el mismo buscador escribi <strong> “Foliado”.
                </strong>
            </p>

            <img src="../modals/m-s-tramites/assets/m-s-tramite9.png" class="mb-5 mt-3 img-fluid" alt="rav" />

            <p class="p-mayuscula p-naranja p-grande"><strong>Selecciona la opción “Foliado/Foliado de Libro de Vuelo” y
                    realiza los pasos anteriores para realizar el pago.</strong></p>

            <p>
                <span class="p-naranja">
                    <strong>7-</strong>
                </span>
                Y ahora si! Con todos Los formularios <strong> RAV firmados y la documentación que se encuentra en la
                    lista de abajo</strong>, puedes <strong>ir a la ANAC, Departamento Foliado, sito en Av. Paseo Colón
                    1452 -PB- de lunes a viernes en el horario de 8:00 a 13:30 Hs. (Boxes del 14 al 17).</strong>
                <br>
                <i>Sacar turno en la máquina de turnos y realizar el trámite por tu cuenta.</i>
            </p>

        </div>
        <div class="bloque">
            <div class="ayuda-tramite">
                <div class="img-ayuda-tramite">
                    <img src="../../images/gral/img-whatsapp-ayuda.svg" class="img-fluid" alt="Ayuda" />
                </div>
                <div class="anuncio-ayuda">
                    <div class="texto-anuncio">
                        PODEMOS HACER EL TRÁMITE POR TI
                    </div>
                    <div class="texto-ayuda-tramite">
                        <span>COMÚNICATE CON NOSOTROS</span>
                        <img src="../../images/gral/ico-whatsapp-ayuda.svg" class="img-fluid" alt="Whtasapp Ayuda" />
                    </div>

                </div>


            </div>

        </div>



    </div>
    <div class="mod-footer">
        <div class="footer-bg"></div>

    </div>
</div>