<!-- ================== BEGIN PAGE CSS STYLE ================== -->
<link href="../modals/m-s-4-atribuciones/m-s-4-atribuciones.min.css" rel="stylesheet" />
<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="../modals/m-s-4-atribuciones/m-s-4-atribuciones.js"></script>


<div class="modal-content m-s-4-atribuciones">
    <div class="mod-header">
        <div class="header-bg"></div>
        <div class="header-elems">
            <div class="mod-tit">Atribuciones y limitaciones de la licencia
            </div>
            <!--  <div class="mod-subtit">TIPS QUE DEBES CONOCER ANTES DE ELEGIR TU ESCUELA</div> -->
            <button type="button" class="mod-close btn-cerrar" data-dismiss="modal">
                <span class="fa fa-close"></span>
            </button>
            <div class="mod-icon">
                <img src="../../views/modals/assets/ico-modal-atribuciones.svg" class="img-fluid"
                    alt="Atribuciones y limitaciones de la licencia" />
            </div>
        </div>

    </div>
    <div class="mod-body">
        <div class="bloque">
            <h1>Licencia de Piloto Comercial con HVI (Habilitación de Vuelo por Instrumentos) </h1>

            <p>Esta licencia nos otorga:</p>
            <ul>
                <li>Las <strong>mismas atribuciones que la licencia de Piloto Privado </strong></li>
                <li>Además podrás <strong>prestar servicios </strong> a cambio de una <strong>remuneración</strong></li>
                <li>Y quedas <strong>habilitado a volar por instrumentos.</strong></li>
            </ul>
        </div>

        <div class="bloque">
            <p class="destacado-celeste">Una vez que adquirida la Licencia Comercial con HVI, te conviertes en un
                profesional de la aviación.</p>
        </div>

    </div>
    <div class="mod-footer">
        <div class="footer-bg"></div>

    </div>
</div>