<!-- ================== BEGIN PAGE CSS STYLE ================== -->
<link href="../modals/m-s-4-curso/m-s-4-curso.min.css" rel="stylesheet" />
<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="../modals/m-s-4-curso/m-s-4-curso.js"></script>


<div class="modal-content m-s-4-curso">
    <div class="mod-header">
        <div class="header-bg"></div>
        <div class="header-elems">
            <div class="mod-tit">Curso Teorico de PILOTO COMERCIAL (OBLIGATORIO)
            </div>
            <!--  <div class="mod-subtit">TIPS QUE DEBES CONOCER ANTES DE ELEGIR TU ESCUELA</div> -->
            <button type="button" class="mod-close btn-cerrar" data-dismiss="modal">
                <span class="fa fa-close"></span>
            </button>
            <div class="mod-icon">
                <img src="../../views/modals/assets/ico-modal-curso.svg" class="img-fluid"
                    alt="Curso Teorico de PILOTO COMERCIAL" />
            </div>
        </div>

    </div>
    <div class="mod-body">
        <div class="bloque">
            <h1>Curso Teórico</h1>

            <p>
                Junto con las 200 hs. de vuelo es requisito hacer el curso teórico de Piloto Comercial.
            </p>

            <p class="t-big-celeste">¿Cómo se realiza?</p>

            <ul class="mb-4">

                <li>Cursos presenciales intensivos, anuales o más extensos, que se brindan en los centros de
                    instrucción.</li>
                <li>Cursos semi-presenciales o cursos a distancia.</li>

            </ul>

            <p class="t-big-celeste">¿Qué escuela elegir?</p>
            <p>La elección de la escuela y de la manera a realizar el curso es completamente personal y se va a basar en
                nuestros gustos, disponibilidad horaria, economía, cercanía, etc. </p>

            <p class="t-big-celeste">¿Cuánto tiempo dura el curso?</p>
            <p>La duración del curso difiere dependiendo en qué escuela lo realices.
                <br> Alguna de ellas ofrecen cursos que pueden completarse en 4 meses mientras que algunas otras ofrecen
                cursos con menos carga horaria que pueden completarse en 9 meses.
            </p>
            <p class="destacado-celeste">
                Al <strong> completar el curso,</strong> en cualquiera de sus formas, se nos dará un <strong>
                    CERTIFICADO ANALÍTICO </strong> el cual debe ser <strong> presentado al inspector el día del examen
                    de vuelo </strong> para la obtención de la licencia, caso contrario no se podrá tomar el examen.
            </p>
        </div>

        <div class="bloque">
            <h1>MATERIAS DEL CURSO</h1>
            <p>
                Sin importar cómo realizaremos el curso las materias que debemos cursar y aprobar serán las siguientes:
            </p>
            <ul class="mb-4">
                <li>Aerodinámica</li>
                <li>Navegación Aérea </li>
                <li>Teoría de Vuelo por Instrumentos</li>
                <li>Meteorología</li>
                <li>Normas, Reglamentaciones y Servicios de Tránsito Aéreo</li>
                <li>Grupo Motopropulsor</li>
                <li>Instrumentos de Vuelo y del Motor</li>
                <li>Performance </li>
                <li>Comunicaciones y Sistemas Radioeléctricos</li>
                <li>Legislación y Documentación Aeronáutica</li>
                <li>Supervivencia, Búsqueda y Salvamento </li>
                <li>Prevención de accidentes</li>
                <li>Factores Humanos</li>
                <li>Transporte sin riesgo de Mercancías Peligrosas por Vía Aérea</li>

            </ul>
        </div>
    </div>
    <div class="mod-footer">
        <div class="footer-bg"></div>

    </div>
</div>