<!-- ================== BEGIN PAGE CSS STYLE ================== -->
<link href="../modals/m-s-4-cma1/m-s-4-cma1.min.css" rel="stylesheet" />
<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="../modals/m-s-4-cma1/m-s-4-cma1.js"></script>


<div class="modal-content m-s-4-cma1">
    <div class="mod-header">
        <div class="header-bg"></div>
        <div class="header-elems">
            <div class="mod-tit">CMA CLASE I (Certificación Médica)
            </div>
            <!--  <div class="mod-subtit">TIPS QUE DEBES CONOCER ANTES DE ELEGIR TU ESCUELA</div> -->
            <button type="button" class="mod-close btn-cerrar" data-dismiss="modal">
                <span class="fa fa-close"></span>
            </button>
            <div class="mod-icon">
                <img src="../../views/modals/assets/ico-modal-cma1.svg" class="img-fluid" alt="CMA CLASE I" />
            </div>
        </div>

    </div>
    <div class="mod-body">
        <div class="bloque">
            <h1>Certificación Médica Aeronáutica Clase 1</h1>

            <p>Si deseas volar como PPA sólo necesitas un CMA clase 2. Sin embargo cuando desees comenzar a tu carrera
                como Piloto Comercial de Avión <strong> las responsabilidades son mayores, por lo que es necesario
                    realizar un examen médico más exhaustivo.</strong>

                <br>
            <p class="t-celeste">En este momento debes realizar una <strong>Certificación Médica Aeronáutica Clase
                    1</strong></p>
            </p>
            <p>Ciertas condiciones médicas pueden no ser una limitante para ejercer como PPA. Sin embargo podrían llegar
                a ser un impedimento para ejercer como PCA.</p>

        </div>



        <div class="bloque">
            <h1>¿Cómo saber cuáles son las condiciones médicas requeridas para obtener una CMA clase 1?</h1>
            <p>En la RAAC 67 subparte B 67.101 se especifica todas las condiciones médicas requeridas para obtener una
                CMA clase 1.
            </p>

            <p class="destacado-celeste">
                <strong>Podés descargar toda la información haciendo <a
                        href="https://www.anac.gov.ar/anac/web/uploads/normativa/raac/raac_vigentes/por_parte/parte-67-2015corregida-en-2017.pdf"
                        target="_blank">CLICK AQUI</a></strong>
            </p>
        </div>
        <div class="bloque">
            <h1>PASOS PARA OBTENER EL CERTIFICADO</h1>
            <p class="destacado-celeste"><strong>Para obtener el Certificado debes seguir los mismos pasos que cuando
                    obtuviste tu CMA clase 2, puedes ver los pasos haciendo <a href="#"
                        onclick="openInternalModal('m-s-2-cma', event, true)">CLICK AQUÍ</a></strong></p>

        </div>
    </div>
    <div class="mod-footer">
        <div class="footer-bg"></div>

    </div>
</div>